<template>
  <div class="page-bandcamp-friday">
    <h2>Une sélection pour le Bandcamp Friday</h2>

    <p>
      Le site de vente de musique en ligne Bandcamp propose durant certains
      vendredis de lever leurs frais et de reverser le maximum d'argent aux
      artistes durant les 24 heures du programme.<br/>
      Visitez
      <a
        target="_blank" rel="noreferrer noopener"
        href="https://isitbandcampfriday.com/">
        "Is It Bandcamp Friday?"</a>
      pour plus d'informations sur quand il a lieu.
    </p>

    <p>
      Voici une sélection de titres et albums que nous vous proposons d'écouter
      et éventuellement acheter !
    </p>

    <div class="embeds">
      <embed-iframely
        v-for="b in links"
        :key="b"
        :url="b" />
    </div>
  </div>
</template>

<script>
import EmbedIframely from '@/components/EmbedIframely.vue'

export default {
  name: 'page-bandcamp-friday',
  components: {
    'embed-iframely': EmbedIframely
  },
  data () {
    return {
      links: []
    }
  },
  mounted () {
    document.title = 'Une sélection pour le Bandcamp Friday | Radio Brony'
    fetch('https://node.radiobrony.fr/bandcamp.json')
      .then(r => r.json())
      .then(j => {
        console.log(j)
        this.links = j
      })
  }
}
</script>

<style lang="scss">
.page-bandcamp-friday {
  .embeds {
    .embed-iframely {
      display: inline-block;
      height: 241px;
      margin: 5px;
      width: 440px;

      & > div {
        display: inline-block;
        width: 440px;

        & > div {
          height: 241px !important;
        }
      }
    }
  }
}
</style>
