<template>
  <div class="page-2042">
    <h2>2042</h2>

    <div>
      <em>Soon...</em>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-2042',
  mounted () {
    document.title = '2042 | Radio Brony'
  }
}
</script>

<style lang="scss" scoped>
em {
  font-family: cursive;
}
</style>
