<template>
  <div class="oldblog oldblog-dossier-trouver-sauce">
    <h2>[Dossier] Comment et où trouver de la musique brony aujourd'hui ?</h2>
    <blockquote>
      Ceci est une archive d'un article publié le 16 novembre 2014 par Mijka.
      <br />En vue de l'âge de cet texte, certaines informations peuvent ne plus être d'actualité.
      <br />Cet article fut révisé en juin 2020 pour supprimer les liens des sites qui n'existent plus.
    </blockquote>
    <Shareon />
    <hr />
    <div class="entry-content">
      <img
        width="300"
        height="246"
        src="https://radiobrony.fr/wp-content/uploads/2014/11/Woot.png"
        class="alignleft wp-post-image"
        alt="Woot"
      />
      <p>
        Cet article part d'une question (posée par Butterscotch) lors de la 3PS : "Avant j'arrivais à trouver de la musique brony sans trop de soucis en suivant quelques artistes, mais maintenant qu'ils sortent moins de musique, c'est plus difficile... Tu fais comment ?"
        <br />La réponse à cette question est d'abord passée en audio au début de
        <a
          href="https://radiobrony.fr/podcasts/show/radiolibre/episode/2014/8"
        >la Radio-Libre du 15/11/2014</a> [dès 10min], mais vu la grande quantité de liens à partager il semblait utile de remettre le tout par écrit, ce sera au final plus simple de s'y retrouver.
      </p>
      <p style="clear:both;">
        C'est une question qui revient finalement assez souvent&nbsp; :
        <br />
        <strong>
          "Où trouver de la musique brony aujourd'hui ?"
          <br />"Où que c'est-y donc qu'elle se cache, boudiou ?"
          <br />"Sources or GTFO"
          <br />"Sauce pls !"
          <br />
        </strong>
      </p>
      <p>
        Je reviendrais sur le fond (le "pourquoi ?") de l'histoire de la communauté musicale qui a créé pour certains des difficultés à s'y retrouver, et répondrais ensuite en détail dans la seconde moitié de l'article sur la
        <del>douzaine</del> vingtaine de sources musicales pouvant vous être utiles...
        <br />Vous pensiez peut-être vous retrouver face à un univers creux, mais c'est en fait une jungle luxuriante... prenez votre machette, n'oubliez pas la boussole et suivez le guide !
      </p>
      <h2>
        I )
        <span style="text-decoration: underline;">Au départ, peu d'artistes</span> :
      </h2>
      <p>C'est devenu est un exercice un peu différent que ce qu'il était il y a un an ou deux, car la communauté musicale a évolué, et surtout s'est diversifiée.</p>
      <p>
        Quand la communauté musicale brony a commencé à s' "établir", c'était assez simple : peu d'artistes étaient impliqués dans de la musique de ce genre, et parmi eux encore moins réalisaient des morceaux assez potables pour susciter un engouement : on se retrouvait avec une dizaine d'artistes "principaux" (comme
        <a
          href="http://mandopony.bandcamp.com/"
        >Mandopony</a>,
        <a
          href="https://odysseymusic.bandcamp.com/"
        >Eurobeat Brony / Odyssey</a>,
        <a
          href="https://www.youtube.com/user/MicTheMicrophoneZero"
        >MicTheMicrophone</a>,
        <a href="https://mrarchie.bandcamp.com/">Archie</a>,
        <a
          href="http://generalmumble.bandcamp.com/"
        >General Mumble</a>,
        <a
          href="https://www.youtube.com/user/TheLivingTombstone"
        >TheLivingTombstone</a>,
        <a
          href="http://music.soundoftheaviators.com/"
        >Aviators</a>,
        <a
          href="https://www.youtube.com/user/SimGretina"
        >SimGretina</a>,
        <a
          href="https://www.youtube.com/user/woodentoaster"
        >WoodenToaster / Glaze</a>,
        <a
          href="https://pinkiepieswear.bandcamp.com/music"
        >PinkiePieSwear</a>,
        <a
          href="http://sogreatandpowerful.com/"
        >SoGreatAndPowerful</a>, etc...) à suivre et on avait grosso-modo la majorité des productions de la communauté à disposition.
        <em>Facile !</em>
      </p>
      <p>&nbsp;</p>
      <h2>
        &nbsp;II )
        <span style="text-decoration: underline;">"EqD ou rien"</span> :
      </h2>
      <p>
        C'était aussi une "époque" où il était plus difficile pour les "nouveaux" d'être partagés sur
        <a
          href="http://www.equestriadaily.com/"
        >Equestria Daily</a>, les critères de la modération étant féroces, d'autant plus que le site gagnait en reconnaissance et que les membres de l'équipe qui s'occupe du site faisaient au mieux avec la montagne d'informations et de requêtes qu'ils recevaient quotidiennement.
      </p>
      <p>
        "Featured on EqD" pour "Mis en avant sur Equestria Daily", était le gage de reconnaissance ultime, et l'assurance pour l'artiste bénéficiant de cette publicité de voir grimper rapidement son audience.
        <br />C'est toujours un bon "plus" aujourd'hui de passer sur EqD mais plus autant qu'avant, d'ailleurs les listings de nouvelles chansons et artistes sont plus exhaustifs et complets aujourd'hui, et si moins de monde est "sur le carreau" par rapport au site principal de nouvelles anglophones de la communauté, c'est aussi devenu plus "commun" d'y être.
      </p>
      <p>
        Trop d'information peut tuer l'info.
        <em>Les nouveaux se retrouvent "noyés dans la masse"</em>.
      </p>
      <p>&nbsp;</p>
      <h2>
        &nbsp;III )
        <span
          style="text-decoration: underline;"
        >Les anciens fatiguent, la relève est active mais peu reconnue</span> :
      </h2>
      <p>Si le mouvement brony en est à ses balbutiements en France, il est déjà presque "vieux" au niveau mondial et surtout aux USA, par rapport à l'échelle temporelle d'internet : quatre ans, vous vous rendez-compte ? Une éternité par rapport au rythme effréné des communautés numériques !</p>
      <p>Ainsi, certains de ceux qui ont été les plus actifs aux débuts de la communauté s'essoufflent un peu (d'autres sont encore bien actifs, ouf), ont totalement arrêté la musique voire se sont "juste" détachés de la communauté, parfois en changeant de pseudonyme (les exemples sont innombrables et pour n'en&nbsp; citer qu'un, on peut parler d'Archie qui continue la musique électronique sous le pseudonyme Desso), quand ce n'est pas tout simplement un changement dans leur vie personnelle (vie de famille, emploi, service civil ou militaire) qui leur fait mettre entre parenthèses leur activité dans la communauté brony.</p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="640"
            height="390"
            src="https://www.youtube.com/embed/p_V8gORnKhk?version=3&amp;rel=1&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            allowfullscreen="true"
            style="border:0;"
          ></iframe>
        </span>
        <br />Le désir de changement (voire de professionnalisation) est compréhensible et est d'ailleurs une problématique assez difficile pour de nombreux artistes... C'est d'ailleurs un sujet qui a déjà été traité dans un précédent article, traduction d'un site dédié à la musique indépendante (à la base aucun lien avec la communauté brony, avec un avis extérieur et des témoignages d'artistes de la communauté).
        <br />Pour en savoir plus, c'est par là :
        <a
          title="Un bel article de fond qu'il est bon de lire, hop hop hop !"
          href="https://radiobrony.fr/friendship-is-magic-ce-que-pourraient-apprendre-de-mlp-les-artistes-independants/"
        >« Friendship is Magic » : ce que pourraient apprendre de MLP les artistes indépendants</a>.
      </p>
      <p>
        En parallèle la "relève" de nouveaux artistes de tous poils est arrivée au
        <em>"furr"</em> et à mesure en suivant l'exemple des "anciens", sans forcément les imiter et en se créant leur propre niche au sein de la communauté (paroles marrantes, rock, punk, métal, house, dubstep, drum &amp; bass, trip-hop, rap, folk, etc...), sans parler des morceaux réalisés en collaboration qui fusent de partout : un vrai vivier dont la qualité dépasse régulièrement (parfois de loin) celle des "monstres sacrés" ou autres "Horse Famous" de la communauté.
        <br />Le "compliment" le plus récurrent : "
        <em>Ça pourrait passer sur de bonnes radios fm sans choquer personne</em>".
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="640"
            height="390"
            src="https://www.youtube.com/embed/FIycQostBOY?version=3&amp;rel=1&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            allowfullscreen="true"
            style="border:0;"
          ></iframe>
        </span>
      </p>
      <p>
        Autre soucis : de nombreux artistes (connus ou pas) retirent une partie voire la totalité de leurs productions des sites sur lesquels ils les partageaient, pour de nombreuses raisons (le plus souvent personnelles, rangez vos fourches et panneaux anti-hasbro, les fameux
        <em>"cease and desist"</em> sont au final assez rares et les musiques de la communauté très peu touchées par ce phénomène).
      </p>
      <p>&nbsp;</p>
      <p>Prenons l'exemple de SoGreatAndPowerful, aussi connu sous l'acronyme SGaP : ses compositions sont uniques, dans un genre rare dans la communauté (rappelant l'artiste Pogo et le plunderphonics) et malgré l'usage d'outils électroniques, il en est arrivé à transmettre une certaine forme de féérie à travers sa musique qui est au final relativement appréciée.</p>
      <p>
        Pourtant, à un moment donné et du jour au lendemain la plupart de ses musiques ont disparu, et il s'est avéré qu'au final il préférait les retirer de sa chaîne
        <a href="https://www.youtube.com/user/SoGreatandPowerful">Youtube</a> (l'un des rares endroits où il publie) : elles ne correspondaient plus à sa vision artistique actuelle et en conséquence les a purement et simplement virées de sa chaîne ! Du côté du créateur ça se comprend, mais du notre... quelle perte !
      </p>
      <p>
        A un moment donné, les vidéos étaient privées mais listées dans une playlist (sur son compte youtube) permettant de retrouver les liens... avant de disparaître, revenir, et re-disparaître complètement.
        <br />Aujourd'hui des fans sont allés jusqu'à publier ses anciennes productions sur des sites comme
        <a
          href="http://sogreatandpowerful.com/"
        >Sogreatandpowerful.com</a>,
        <a
          href="http://sgaparchivalinitiative.tumblr.com/contents"
        >une archive sur tumblr</a>,
        <a
          href="https://archive.org/details/sgapstandardmodel"
        >une présence sur archive.org</a>, et certains titres sont aussi présent sur un site dont on parlera en détail plus tard, la chaîne "
        <a
          href="https://www.youtube.com/watch?v=SAcUE_v9Cks"
        >Brony Music Archive</a>".
        <br />Entre les anciens plus connus qui partent voire disparaissent carrément et les nouveaux qui peinent à se faire connaître on pourrait penser que l'on est mal barré... en fait, pas tant que ça !
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="640"
            height="390"
            src="https://www.youtube.com/embed/PcsJ-3aJPvM?version=3&amp;rel=1&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            allowfullscreen="true"
            style="border:0;"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <h2>
        &nbsp;IV )
        <span style="text-decoration: underline;">Petites astuces et techniques de recherche</span> :
      </h2>
      <blockquote>
        <p>"Ok, c'est bien gentil de me dire qu'il y a plein d'artistes dans la communauté, mais je les trouve où, moi ?"</p>
      </blockquote>
      <p>
        Aucun problème,
        <em>Jimmy</em>: la liste de sites arrive mais avant, voici quelques astuces pour ne jamais être à court d'artistes bronies et de leur musique (vous aurez même de quoi en faire une overdose, attention ~) !
      </p>
      <p>
        <a
          href="https://radiobrony.fr/wp-content/uploads/2014/11/Liens.png"
        >
          <img
            class="alignleft wp-image-5609"
            src="https://radiobrony.fr/wp-content/uploads/2014/11/Liens.png"
            alt="Liens"
            width="314"
            height="357"
          />
        </a>
      </p>
      <p>
        Un petit rappel sur le "papillonnage" sur Internet, permettant de retrouver par liens connexes tout ce qu'il vous faudra (a.k.a "comment il a fait alors que personne ne lui a donné de liste").
        <br />Lorsque vous trouvez une musique qui vous plait, regardez bien autour et vous trouverez plein de choses :
        <br />- d'autres chansons de la même personne
        <br />- le nom d'un artiste avec qui il a collaboré, à voir aussi
        <br />- ses propres favoris
        <br />- peuvent aussi apparaître des chaînes semblables proposées par le site ("similiaires sur Youtube")
        <br />- une autre catégorie de chaînes qui elle est choisie soigneusement par l'artiste peut apparaître ("Featured Channels") : d'autres artistes qu'il apprécie particulièrement
      </p>
      <p style="clear:both;">&nbsp;</p>
      <p>
        <a
          href="https://radiobrony.fr/wp-content/uploads/2014/11/2.png"
        >
          <img
            class="alignright wp-image-5610 size-medium"
            src="https://radiobrony.fr/wp-content/uploads/2014/11/2.png"
            width="166"
            height="300"
          />
        </a>
      </p>
      <p>
        Un autre endroit que l'on ignore souvent&nbsp; (à tord) : les descriptions.
        <br />Que ce soit sur Youtube ou d'autres sites, ces dernières fourmillent souvent de lien intéressants :
        <br />- les liens vers d'autre chaînes (sur d'autres sites aux utilités différentes)
        <br />- les liens de téléchargement si la musique est partagée
        <br />- les liens vers d'autres artistes (sujets d'un remix ou ayant aidé d'une manière ou d'une autre à réaliser le morceau)
        <br />- Les paroles de la chanson, si besoin
        <br />- Et en bonus, parfois l'histoire derrière la chanson, ce qui l'a inspirée ou autre !
        <br />Toujours sur Youtube, vous pourrez vous rabattre sur
        <a
          href="https://www.youtube.com/feed/subscriptions"
        >les vidéos mises en ligne uniquement</a>, pour vous focaliser uniquement sur les sorties des chaînes auxquelles vous êtes abonnés.
      </p>
      <p>Bien sûr, cela vaut pour tous les sites, et ainsi dans toute la liste qui va suivre vous trouverez des liens connexes vers les différents sites d'un même artiste ou encore ceux d'autres artistes : avec quelques chansons au départ, on peut finalement trouver d'un lien à l'autre un grand nombre d'artistes !</p>
      <p>&nbsp;</p>
      <h2>
        &nbsp;V )
        <span style="text-decoration: underline;">Des liens et de la musique comme s'il en pleuvait</span> :
      </h2>
      <p>Nous voici enfin au cœur de l’article, une liste à utiliser et à partager sans modération !</p>
      <ul>
        <li>
          <a href="https://www.youtube.com/">Youtube</a>, le cœur battant du partage indépendant de musique, la première "vitrine" pour de nombreux artistes bronies. Même sans en connaître aucun, des mots clés comme "Discord", "Lyra", ou un bon vieux "Pinkie Pie" (etc, etc...) auront de bonne chances de vous mettre sur la piste d'une foultitude de chansons.
          <br />Un point de départ pouvant aider :
          <a
            href="https://www.youtube.com/user/Mijkami/playlists?view=1&amp;sort=dd"
          >je liste quasi-systématiquement les nouvelles chansons que je trouve dans des playlists</a> (qui avaient une capacité maximale de 200 jusqu'à récemment).
          <br />D'anciens titres ont disparu mais il y a littéralement des milliers de titres listés, n'hésitez pas à jeter un œil. Pour le reste... relisez le chapitre au-dessus !
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://bandcamp.com/Mijka">Bandcamp</a> est aussi un classique, mais on y retrouvera plus des albums complets, en téléchargement gratuit voire contre quelques piécettes.
          <br />Là aussi, je vous ai mis le lien vers mon propre compte où vous pouvez voir une liste des albums que j'ai acquis, et d'autres qui m'intéressent... cela peut faire un point de départ si vous ne connaissez pas trop d'artistes.
        </li>
      </ul>
      <ul>
        <li>
          <a
            href="https://soundcloud.com/pony-club"
          >Soundcloud</a> est la troisième "grande" possibilité où de nombreux artistes partagent leur musique. L'usage est plus ou moins le même que Youtube, sauf qu'on économise en bande passante (pas de flux vidéo à charger), et qu'il est un peu moins utilisé que Youtube.
        </li>
      </ul>
      <ul>
        <li>
          <a href="http://pony.fm/">Pony.fm</a> est un site dédié à la publication de musique brony, par des artistes bronies. Comme les autres sites du même accabit qui vont suivre, cela demande une participation active des musiciens qui se concentrent plus sur Youtube... toutefois, le sytème de recherche par genre et catégorie musicale pourra vous aider, qui sait ?
          <br />Le site offre un hébergement gratuit illimité pour les musiciens de la communauté.
        </li>
      </ul>
      <!--
      <ul>
        <li>
          <a href="http://www.eqdmusic.com/">EqdMusic</a> est le moteur de recherche musical d'Equestria Daily. Toujours en bêta depuis un moment, il semble peu à jour mais permettra aussi de trouver quelques titres en cherchant par genre musical, ce que ne permet pas youtube (et parfois pas Soundcloud, si les chansons sont mal taguées) .
          <br />Les recherches donnent des résultats en liens Youtube.
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://eqbeats.org/">EqBeats.org</a> est un autre site de recherche musicale dédiée, moins fournit que les deux précédents mais qui héberge parfois des titres introuvables ailleurs.
        </li>
      </ul>
      -->
      <ul>
        <li>
          <a href="https://bronytunes.com/">BronyTunes</a> est le "petit nouveau" des sites référençant de la musique brony. Il n'offre pas de téléchargement direct mais liste relativement bien les liens où vous pourrez télécharger vos titres préférés, de plus, une application smartphone existe pour une écoute mobile plus simple.
        </li>
      </ul>
      <ul>
        <li>
          <a
            href="http://www.reddit.com/r/MLPtunes/"
          >Le reddit /MLPtunes/</a>. Ce sub-reddit est entièrement dédié aux sorties les plus récentes de la communauté musicale, et si ses membres discutent peu (quoique, ils viennent de monter un groupe de Métal récemment !), ils mettent à jour régulièrement et de manière assez complète les dernières sorties musicale. Principalement des liens Youtube.
        </li>
      </ul>
      <ul>
        <li>
          Twitter n'est pas en reste. On citera surtout le compte
          <a
            href="https://twitter.com/mlptunes"
          >twitter de MLPtunes</a>
        </li>
      </ul>
      <ul>
        <li>
          Le forum communautaire
          <a
            href="http://www.mylittleremix.com/"
          >My Little Remix</a> (MLR) réunit aussi de nombreux artistes de la communauté musicale, et lance régulièrement des concours à thème et des projets d'albums collaboratifs (dont
          <a
            href="http://broniesforgood.org/seeds-of-kindness/"
          >Seeds of Kindness</a>, la
          <a
            href="https://balloonparty.bandcamp.com/"
          >Balloon Party</a> et
          <a
            href="https://www.youtube.com/channel/UCebkPatTge5SIzVfo6dLRsA"
          >Maressey</a>), ils y partagent aussi des WIP ("Work In Progress, des ébauches) de travaux en cours pour échanger des avis sur leurs créations.
        </li>
      </ul>
      <ul>
        <li>
          Avant l'arrivée du fandom brony, Freewave était connu sous le pseudonyme TheScientist, et il a mis en place l'une des plus importantes
          <a
            href="http://rateyourmusic.com/list/TheScientist/rym_ultimate_box_set/"
          >base de données sur les genres musicaux de RateYourMusic.com</a>, qui a aujourd'hui
          <a
            href="http://rateyourmusic.com/list/TheScientist/rym_ultimate_box_set__brony_music/"
          >une liste intéressante de musique brony</a>.
        </li>
      </ul>
      <ul>
        <li>
          Le
          <a
            href="http://bronymusiciandirectory.blogspot.fr/"
          >Brony Musician Directory</a> (BMD) est aussi sous la houlette de l'admin du forum
          <a href="http://www.mylittleremix.com/">MLR</a> (Freewave) et dispose de la plus longue liste de musiciens bronies, ayant chacun une fiche descriptive, des liens vers leurs comptes créatifs et une sélection de chansons ainsi qu'
          <a
            href="http://bronymusiciandirectory.blogspot.com/2012/03/genre-section.html"
          >une petite liste de musiques classées par genre musical</a>
        </li>
      </ul>
      <ul>
        <li>
          Antenne blog orientée sur l'actualité du site précédent,
          <a
            href="http://fimmusic.tumblr.com/"
          >le tumblr "FimMusic"</a> regorge d'informations régulières sur les nouveautés musicales, les projets en cours ainsi que diverses sélections "du moment".
        </li>
      </ul>
      <ul>
        <li>
          Dernier champ d'action de l'univers de Freewave :
          <a
            href="https://www.youtube.com/channel/UC3WrOPiSoH5-3BPUkPI1IUQ"
          >les interviews de musiciens réalisées par les collectifs BMD et FimMusic vus ci-dessus</a>.
        </li>
      </ul>
      <!--
      <ul>
        <li>
          A noter qu'Everfree Network fait aussi des interviews de musiciens (et d'autres personnes liées à la communauté) via l'émission
          <a
            href="http://intothespotlight.everfree.net/"
          >Into The Spotlight</a>.
        </li>
      </ul>
      <ul>
        <li>
          <a href="http://www.equestriajukebox.com/">Equestria Jukebox</a> est un site où chacun peut partager une liste de chansons en flux continu en choisissant des vidéos Youtube dans des salons séparés avec un canal de discussion propre, le tout étant créé spécifiquement pour les bronies.
        </li>
      </ul>
      -->
      <ul>
        <li>
          <a
            href="http://www.equestriadaily.com/search/label/Music"
          >La partie musique du site de nouvelles Equestria Daily</a> est aussi bien étoffée.
        </li>
      </ul>
      <ul>
        <li>
          <a
            href="https://leponeyblanc.fr/news/27/"
          >La partie musique du site de nouvelles francophone Le Poney Blanc</a> n'est pas en reste.
        </li>
      </ul>
      <ul>
        <li>
          La chaîne
          <a
            href="https://www.youtube.com/user/CappppperGeneral/videos"
          >Brony Music Archive</a> de CapperGeneral met en ligne régulièrement des titres disparus, en priorisant les demandes des spectateurs de la chaîne.
        </li>
      </ul>
      <ul>
        <li>
          Une autre chaîne,
          <a
            href="https://www.youtube.com/channel/UCum2wSybQ474_wQteN4PV1A/videos"
          >Deleted Pony Songs</a>, suit le même objectif de conservation et complète la précédente.
        </li>
      </ul>
      <ul>
        <li>
          La
          <a
            href="http://ponyvillelive.com/mlpma/"
          >MLP Music Archive</a> est un projet collaboratif visant à conserver un ensemble de "classiques" de la communauté musicale et à les partager (plus de 40 Go à ce jour !), il existe aussi d'autres
          <a
            href="http://www.reddit.com/r/MLPtunes/search?q=archive&amp;restrict_sr=on&amp;sort=relevance&amp;t=all"
          >archives moins étoffées par-ci, par-là</a>
        </li>
      </ul>
      <ul>
        <li>
          Le
          <a
            href="https://www.youtube.com/user/toptenpony/videos"
          >Top Ten Pony Songs</a> est une chaîne youtube qui publie chaque mois un "top 10" des dernières sorties en se basant sur les votes des spectateurs.
        </li>
      </ul>
      <ul>
        <li>
          Le
          <a
            href="https://www.youtube.com/user/BaumkuchenPony/videos"
          >Weekly Top 25</a> quand à lui suit une formule différente : hebdomadaire, et basé sur le nombre de vues/écoutes des chansons.
        </li>
      </ul>
      <ul>
        <li>
          L'
          <a
            href="https://www.mixcloud.com/kyderra/"
          >Amble Gait</a> rassemble des sessions régulières de mixes basés sur les sorties récentes de la communauté brony, avec une préférence pour les tonalités électro (mais pas uniquement !).
        </li>
      </ul>
      <ul>
        <li>
          Enfin,
          <a
            href="https://radiobrony.live/mp3"
          >tout simplement écouter Radio Brony</a>&nbsp;(et les
          <a
            href="https://soundcloud.com/pony-club"
            target="_blank"
          >Pony Clubs</a> !) via le lecteur en haut du site est aussi un bon moyen de trouver de nouveaux titres et artistes : n'oublions pas que nous rajoutons régulièrement de nouveaux titres dans la playlist régulière de la radio !
        </li>
      </ul>
      <p>&nbsp;</p>
      <p>
        Au final, vous ne garderez sûrement que quelques solutions : celles qui conviendront le mieux.
        <br />Personellement j'utilise surtout Youtube où je me suis construit une liste d'abonnements assez large (
        <a
          href="https://www.youtube.com/feed/subscriptions"
        >vidéos mises en ligne uniquement</a>), et quand je dois rattraper un "retard" de quelques jours voire semaines, je consulte en priorité le
        <a
          href="http://www.reddit.com/r/MLPtunes/"
        >sub-reddit MLPtunes</a>.
      </p>
      <p>
        Enfin, les abonnements twitter à de nombreux musiciens me permettent d'avoir régulièrement des nouvelles sur leurs sorties musicales, en complément avec le compte twitter de
        <a href="https://twitter.com/mlptunes">MLPtunes</a>.
        <br />J'utilise parfois les autres sites de manière ponctuelle pour des recherches précises, et voilà !
      </p>
      <p>Faites attention à ne pas vous perdre dans cette jungle des sorties musicales de la communauté brony, amusez-vous bien et qui sait... à en écouter plus vous aurez peut-être envie de participer sur la radio !</p>
    </div>
    <Shareon />
  </div>
</template>

<script>
import Shareon from '@/components/Shareon.vue'

export default {
  name: 'oldblog-dossier-trouver-sauce',
  components: {
    Shareon
  },
  mounted () {
    document.title = '[Dossier] Comment et où trouver de la musique brony aujourd\'hui ? | Radio Brony'
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/oldblog.scss";
</style>
