<template>
  <div class="oldblog oldblog-fim-artistes-indes">
    <h2>« Friendship is Magic » : ce que pourraient apprendre de MLP les artistes indépendants.</h2>
    <blockquote>
      Ceci est une archive d'un article publié le 6 février 2014 par Mijka.
      <br />En vue de l'âge de cet texte, certaines informations peuvent ne plus être d'actualité.
    </blockquote>
    <Shareon />
    <hr />
    <div class="entry-content">
      <img
        class="alignleft wp-post-image"
        width="300"
        height="300"
        src="https://radiobrony.fr/wp-content/uploads/2014/02/537865__safe_twilight+sparkle_rainbow+dash_pinkie+pie_fluttershy_rarity_applejack_image+macro_mane+six.jpg"
      />
      <p>
        <span>
          L'article suivant est issu du site
          <a
            title="Pigeonsandplanes.com"
            href="https://www.complex.com/pigeons-and-planes/2014/02/brony-musicians-and-andrew-wk-on-my-little-pony/"
          >Pigeonsandplanes.com</a> [maintenant une section de complex.com], dédié à toutes les scènes musicales : de la plus conventionnelle à la plus indépendante, tous genres confondus.
        </span>
      </p>
      <p>
        C'est un (imposant) article qui vient d'apparaître sur un site extérieur au fandom, et qui nous dépeint de manière très précise (et parfois même intime) les tribulations du versant musical de la communauté brony : je l'avais à peine commencé qu'il m'apparut nécessaire de le partager avec les bronies francophones, d'où cette traduction de mon cru.
        <br />Vous y découvrirez les coulisses de la scène musicale brony, des concerts jusqu'aux témoignages de musiciens reconnus.
      </p>
      <p>
        <span>
          Pour plus de clarté dans la lecture de cette traduction (et ceci à l'attention d'improbables lecteurs néophytes), il convient de clarifier quelques termes récurrents qui ne sont pas définis dans l'article même :
          <br />
        </span>
      </p>
      <ul>
        <li>
          <span>
            <em>Fandom</em> est une contraction anglaise composée de
            <em>fan</em> (pour "fanatic") suivi du suffixe
            <em>dom</em> (pour "domain"), et désigne la sub-culture propre à un ensemble de fans. Dans l'optique d'une diffusion la plus large possible, le terme sera
          </span>
          <span>traduit en "communauté".</span>
        </li>
        <li>
          <span>
            <em>My Little Pony</em> a été traduit dans de nombreuses langues dont celle de Molière (où la série est connue comme étant "<em>Mon Petit Poney</em>") mais l'origine et la force majeure de la communauté étant anglophone, la traduction gardera malgré tout le titre original de la série.
          </span>
        </li>
        <li>
          <em>IRL</em> est (aussi) un acronyme voulant dire "In Real Life", ou en français "Dans la vraie vie", mis en opposition aux rencontres virtuelles faites par le biais d'internet.
        </li>
        <li>
          <em>NdT</em> est un acronyme qui indique les "notes du traducteur", ne faisant pas partie du texte initial mais ajoutées pour clarifier ponctuellement le texte.
        </li>
        <li>Quelques élément entre crochets [ ] parsèment aussi l'article, étant pour la plupart des modifications mineures facilitant la compréhension de l'article.</li>
      </ul>
      <hr />
      <p>
        Par
        <a title="Nathan MacAlone" href="https://twitter.com/nmcalone">Nathan McAlone</a>.
      </p>
      <p>
        <span>
          Lorsque j'interroge Brandon O'Brien ; le directeur musical du
          <a href="http://ponystock.tumblr.com/">festival Ponystock</a> de cette année ; en lui demandant ce que les autres communautés musicales indépendantes peuvent apprendre de la communauté "
          <em>My Little Pony</em>", il répond sans hésitation : "Générosité, Humour, Gentillesse, Loyauté, Honnêteté".
          <br />Ce sont les "Éléments de l'Harmonie", les principes centraux de l'émission conçue d'abord pour des filles de 2 à 11 ans qui devinrent un phénomène culturel, couvert par les médias en allant de Gawker (groupe américain de médias en ligne, *NdT) jusqu'à Fox News.
          <br />Les fans adolescents et adultes de l'émission ont été surnommés "bronies", une contraction de "bro" (pour "brother" : frère, "pote") et "pony" (poney), ces derniers ayant engendré l'une des plus florissantes communautés de fan-art existantes.
          <br />Des personnes relativement étrangères au phénomène comme
          <a href="https://www.complex.com/tag/andrew-wk">Andrew W.K.</a>décrivent les conventions des bronies comme hors de ce monde, remplies d'un mélange d'ouverture d'esprit et de chaleur humaine qui permettent à chacun se sentir bienvenu.
        </span>
      </p>
      <p>
        <span>
          Mais quel est leur secret ? Comment évitent-ils les écueils de bien d'autres scènes de musique indépendante ? En réalité, la communauté musicale brony est bien plus complexe qu'il n'y parait en surface, et certains des problèmes qui accablent d'autres scènes indépendantes y apparaissent aussi, petit à petit. Mais au détour de mes conversations avec des musiciens bronies, il devint évident que la majorité d'entre eux sont résolument engagés dans la création et l'entretien d'un environnement ouvert, centré sur la positivité. Leurs histoires montrent les possibilités pour d'autres artistes indépendants de collaborer et de se soutenir mutuellement dans un esprit de générosité, mais montrent aussi les limites d'une scène musicale utopique dans un monde réel.
          <br />
        </span>
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/9PCEp8z7FNg?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <strong>
          <span>L'Étincelle</span>
        </strong>
      </p>
      <p>
        <span>
          La capacité à susciter et entretenir la passion artistique est sûrement la plus remarquable facette de la communauté brony. Presque tous les musiciens bronies parlent de l'étincelle -une force indescriptible dans l'émission et la communauté qui inspire les gens à ressortir guitare, violon ou même piano pour la première fois depuis des années, voire même pour la première fois de leur vie. La première expérience du chanteur et rappeur brony
          <a href="https://www.youtube.com/user/MicTheMicrophoneZero">Mic the Microphone</a> s'est terminée sous les huées, l'assistance n'ayant pas apprécié sa parodie-rap de Metal Gear Solid basée sur "The Real Slim Shady" au détour d'un concours de talents alors qu'il avait 14 ans.
          <br />Mais lorsqu'il commença à écouter des musiques de fans de
          <em>My Little Pony</em>, cette "petite étincelle" qu'il possédait à 14 ans "réapparut". Il a maintenant 66.105 abonnés le suivant sur Youtube. Le chanteur et guitariste brony
          <a href="https://www.youtube.com/user/BejotyGames">Bejoty</a> explique que la magie le frappa lors du numéro musical du 11ème épisode ("Winter Wrap Up") le laissant bouche-bée. Son côté musicien "fit surface" et il composa une reprise sur guitare acoustique de la chanson durant le même weekend.
        </span>
      </p>
      <p>
        <span>
          Bejoty et
          <a href="https://www.youtube.com/user/MandoPony">Mandopony</a> (la contraction de Mandolin Pony) déclarent tous deux que cette étincelle créative est leur partie favorite de la communauté brony (et c'est aussi la notre chez RadioBrony.fr ! *NdT). "Que ce soit la musique, l'écriture ou les arts visuels", explique Mandopony, "cela semble reconnecter les gens avec l'art, et c'est fantastique". Mandopony a commencé à réaliser de la musique brony à 23 ans. "Je traversais une période très difficile à ce moment de ma vie", dit-il. Sa famille était dans une mauvaise passe, il n'avait pas fait de musique depuis un an, et il possédait juste un "petit portable à 100 dollars sur lequel tournait difficilement son logiciel musical". Puis il fit la découverte de
          <em>My Little Pony</em> et de RainbowCrash88 (un musicien orienté chiptune)), qui l'inspira à composer des thèmes musicaux dans la lignée "jeux vidéos" pour les personnages de l'émission. Comme Mic the Microphone, MandoPony a eu un succès fulgurant dans la communauté musicale brony, avec aujourd'hui 65.687 abonnés à sa chaîne Youtube.
        </span>
      </p>
      <blockquote>
        <p>
          <span>
            "Il y a une forme d'ambition et de motivation pure et aveugle que les gens adoptent juste en faisant partie de la communauté brony"
            <br />
          </span>
        </p>
      </blockquote>
      <p>
        <span>
          "L'étincelle" mise en avant par les musiciens bronies nous rappelle à quel point la musique indépendante dépend de cette passion, ce sujet, ce "quelque-chose" qui amène le musicien à ressentir le besoin de s'exprimer et de partager.
          <br />Cela n'a pas besoin d'être nécessairement des poneys issus d'un dessin animé, ou un code d'amitié, mais cela doit être quelque-chose qui compte vraiment pour l'artiste. Bejoty parle des musiciens qui ont "pris leur premier instrument car ils voulaient jouer une chanson de la série". Inspirer quelqu'un à s'engager dans la musique de zéro n'est pas un mince exploit, et de nombreux parents essayant actuellement de traîner leurs enfants dans des leçons de piano peuvent sûrement en témoigner. Et pourtant
          <em>My Little Pony</em> et la communauté brony renouvellent constamment ce tour de force. "Il y a une forme d'ambition et de motivation pure et aveugle que les gens adoptent juste en faisant partie de la communauté brony", explique Bejoty, un fait qui l'a toujours sidéré. Les musiciens brony eux-mêmes sont parfois surpris par l'inspiration que
          <em>My Little Pony</em> peut leur inspirer.
        </span>
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/voj9MhBUaTI?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <strong>Acceptation</strong>
      </p>
      <p>
        <span>
          Alors qu'une chaleureuse créativité peut sembler nécessaire à la réalisation de titres captivants, le "feu" peut aussi être rapidement étouffé si il n'y a pas de communauté pour l'accepter et la soutenir. Ce second élément définissant la communauté brony est sa tradition d'acception. Cette acceptation ne s'étend pas uniquement à tous ceux qui sont obnubilés par le show, mais aussi aux nouveaux arrivants cherchant à s'engager avec la communauté. Andrew W.K. apprit personnellement cet état de fait quand il participa à la convention "Canterlot Gardens" de 2012 dédiée à
          <em>My Little Pony</em>.
        </span>
      </p>
      <blockquote>
        <p>
          <span>
            "Ils veulent partager leur rapport aux autres.
            <br />Ils veulent que les autres soient aussi à l'aise. -Andrew W.K."
          </span>
        </p>
      </blockquote>
      <p>
        <span>Andrew W.K. n'était pas confiant de la façon dont allait tourner son passage au micro, car il avait déjà expérimenté des groupes "de niche" qui semblaient tournés exclusivement vers leur "club" propre. Ce n'était pas le cas des bronies. Il a été surpris par leur degré d'enthousiasme et d'ouverture d'esprit. "Personne n'était là pour me poser des questions-pièges. Personne n'a essayé de me mettre dans une position inconfortable. Il semble que l'objectif de tous ait juste été de me faire sentir comme étant le bienvenu. Ils veulent partager leur rapport aux autres. Ils veulent que les autres soient aussi à l'aise." Après qu'Andrew W.K. partagea son avis sur Pinkie Pie, un poney de l'émission qu'il identifia comme partageant sa bonne humeur, forte énergie et son envie de faire la fête", en célébrant le fait "d'être bien vivant", il demanda si il était possible d'être un brony honoraire. Les bronies présents n'en avaient cure. Ils lui répondirent qu'il n'y avait pas de "brony honoraire", qu'il était "simplement un brony". "Ils n'auraient même pas envisagé l'idée que quiconque voulant participer soit laissé de côté" s'étonne Andrew W.K..</span>
      </p>
      <p>
        <span>Cet esprit d'acceptation est récurrent dans les histoires de tous les musiciens bronies que j'ai rencontré. La première tentative de Mic the Microphone dans la musique brony prit place alors qu'il contactait un artiste déjà établi à propos d'une maquette audio (WIP) de ce dernier, lui expliquant qu'il l'avait appréciée mais que quelques couplets étaient "assez grossiers, désordonnés", en lui donnant des suggestions. Dans de nombreuses scènes musicales cela aurait pu être considéré comme trop osé, ne recevant en réponse qu'un silence voire une invitation subtile à "aller se faire voir", mais le musicien brony en question y répondit positivement en décrivant les suggestions comme "très bonnes". Cette histoire typique d'un environnement que Bejoty décrit comme issu d'un mélange d'acceptation et de passion venant de la série, où les tentatives de création ne sont pas seulement encouragées mais aussi fortement plébiscitées.</span>
      </p>
      <blockquote>
        <p>
          <span  >"Sur n'importe quelle vidéo musicale de Youtube, vous trouverez un déferlement d'agressivité. Avec la musique traitant de petits chevaux colorés, il n'y a que des mots remplis de chaleur et d'encouragements"</span>
        </p>
      </blockquote>
      <p>
        <span>"Tout le monde veut travailler les uns avec les autres", explique Brandon O'Brien. "Ils balancent des idées et remixes, et les gens sont vraiment sympas dans leurs critiques qui aident à affuter les compétences des musiciens. Sur n'importe quelle vidéo musicale de Youtube, vous trouverez un déferlement d'agressivité. Avec la musique traitant de petits chevaux colorés, il n'y a que des mots remplis de chaleur et d'encouragements".</span>
      </p>
      <p>
        <span>Quand j'ai demandé à des musiciens bronies quels autres artistes indépendants pourraient apprendre de leur communauté, ou quel conseil ils leur donneraient, la réponse la plus récurrente tournait autour de l'acceptation. "Encouragez-vous les uns les autres" exhorte MandoPony. "Collaborez entre vous. Devenez une famille. Soyez humble. Presque tous les musiciens et chanteurs d'une communauté de fans sont des gens très cools dénués d'égo, faisant ce qu'ils font juste parce-qu'ils l'apprécient". Mic the Microphone y va encore plus franchement : "Ne dîtes jamais "Qui es-tu ?" C'est la chose la plus pompeuse, égoïste et misérable que l'on puisse dire à un autre. Ce serait comme dire "Désolé, mon ami, mais bordel t'es qui ?" C'est inexcusable.</span>
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/ytKvgLuy7ng?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <strong>
          Évolution
          <br />
        </strong>
      </p>
      <p>
        <span>
          Alors que certains médias (anglophones pour l'essentiel *NdT) ont tendance à dépeindre la communauté brony comme une entité statique, elle est réalité en constante évolution, en particulier la scène musicale. Ce changement ne concerne pas uniquement la profondeur musicale grandissante de la communauté, que Brandon O'Brien décrit comme un approfondissement allant des remixes Dance et des reprises parodiques jusqu'à des compositions orchestrales entières, des documentaires et même des albums complets. Cela concerne jusqu'à l'attitude de la communauté elle-même, les fans submergeant les conventions naissantes, où les problèmes d'ego et de hiérarchie firent apparition.
          <br />
        </span>
      </p>
      <p>
        <span>"Je me sentais petit et spécial il y a deux ans de ça", dépeint MandoPony, un sentiment ressenti par Mic the Microphone et Bejoty. "Ce n'était pas une question d'acquérir plus d'abonnés, de gagner en popularité, d'être mis en avant sur EQD (Equestria Daily, le site d'information anglophone de référence pour la communauté, *NdT)", explique Mic the Microphone. "Il n'y avait pas de nécessité à être meilleur qu'un autre". Lors de la première année, selon Bejoty, "n'importe qui pouvait participer au cercle créatif et être acclamé à travers internet". Il affirme qu'il était relativement simple d'être remarqué et que la communauté était très unie. Mais lorsque la communauté s'est mise à grandir, ce sentiment a commencé à se dissiper, même si il n'a jamais totalement disparu.</span>
      </p>
      <blockquote>
        <p>
          <span  >"Les gens oublient parfois qu'ils sont célèbres sur internet, parmi une bande de nerds qui adorent une série traitant de poneys animés. Certaines personnes auraient grand besoin qu'on bouscule leurs "grands chevaux" - le jeu de mots est volontaire"</span>
        </p>
      </blockquote>
      <p>
        <span>"Très rapidement certains vous sautaient à la gorge" raconte Mic the Microphone. "Vous interpellant. Disant d'horribles choses sur vous". Mic admet qu'il lui arriva de prendre part à "cette jolie saloperie haineuse" lui-même et qu'il paya la prix pour son "propre foutu égo". Cet égo avait une raison propre. La communauté grandit exponentiellement et certains musiciens devinrent (selon les mots de Bejoty) "pony famous" ("poneys célèbres" *NdT). "Comme dans toute autre scène musicale", explique Brandon O'Brien. "Les gens oublient parfois qu'ils sont célèbres sur internet, parmi une bande de nerds qui adorent une série traitant de poneys animés. Certaines personnes auraient grand besoin qu'on bouscule leurs "grands chevaux" - le jeu de mots est volontaire". Mic the Microphone acquiesce : "Pour l'amour de Dieu, je vous souhaite de ne pas être comme celui que j'étais il y a deux ans, rabaissant les autres juste parce que vous croyez leur être supérieur. Aidez ces gens. Soutenez les".</span>
      </p>
      <p>
        <span>Les "pony famous" et les moins célèbres étaient dans une situation difficile. Il était plus dur pour les nouveaux venus d'être remarqués, spécialement avec autant d'artistes éminents en place, avec leurs relations établies et leurs collaborations musicales fermées. Toutefois Bejoty nous explique que les musiciens populaires étaient aussi dans une situation délicate, où les fans les "harcelaient constamment" pour qu'ils réalisent les mêmes "canevas musicaux", rejetant toute réalisation s'écartant de leur style habituel. Certains artistes, dont Mic the Microphone, firent une pause. Certains perdirent même dans la foulée leur intérêt pour la série.</span>
      </p>
      <p>
        <span>
          Mais c'était une communauté construite sur l'acceptation et l'amitié, et même alors que la célébrité (aussi relative soit-elle) balaya la scène, créant ce que Bejoty qualifie d' "environnement toxique", des éléments de la communauté se battirent pour préserver la "magie". Mic the Microphone pense qu'aujourd'hui "de nombreuses personnes reviennent finalement à cette mentalité" visant à s'amuser, faire ce qu l'on apprécie, et s'encourager les uns les autres. Bejoty a vu des organisations de communication (dont font partie les sites de partage comme
          <a title="Equestria Daily" href="http://www.equestriadaily.com/">EQD</a>,
          <a href="http://pony.fm/">Pony.fm</a>,
          <strike>
            <a href="http://www.eqdmusic.com/">EQDmusic.com</a>,
            <a href="https://eqbeats.org/">EQBeats.org</a>
          </strike>
          ainsi que le
          <a
            title="Freewave est un exemple à suivre !"
            href="http://bronymusiciandirectory.blogspot.fr/"
          >Répertoire des musiciens bronies</a>, *NdT) restructurer la façon dont la promotion de la musique et des artistes est organisée en utilisant la popularité acquise de certains pour mettre en avant les nouveaux talents.
        </span>
      </p>
      <p>
        <span>Ces valeurs sous-jacentes de la communauté semblent l'avoir aidée à rebondir, à renouveler le terreau ayant déjà donné naissance dans le passé à un (incroyable) foisonnement de musique. En fait, le concert brony préféré de Mic the Microphone a été l'Everfree 2013, où ils "firent trembler les murs de la salle", la rumeur laissant entendre que les participants atteignirent par leurs seuls sauts "1.6 sur l'échelle de Richter". "Voir tous mes amis s'éclater sur la scène était un vrai don du ciel" dit-it. "C'était vraiment incroyable". La magie de l'amitié est toujours forte à travers la communauté brony, même si la popularité a amené son lot de problèmes.</span>
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/94Zop1dRHOU?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <strong></strong>
        <span>
          <strong>Internet et IRL</strong>*
        </span>
      </p>
      <p>
        <span>L'une des caractéristiques définissant la communauté musicale brony et qui a dicté jusqu'à un certain point la manière dont cette scène a évolué, est l'importance prépondérante de la collaboration et de la consommation sur internet. Brandon O'Brien pense que c'est un microcosme reflétant la manière dont les collaborations musicales fonctionnent en général, mais qui est très facilement observable dans le cas de la musique brony. « Il y a des personnes participant à des groupes complets et qui ne se sont jamais rencontrés physiquement. Cela rend les performances sur scène légèrement stressantes ». Paradoxalement c'est ce qui permet à cette scène d'exister. « J'imagine facilement l'annonce de musiciens dans une boutique du coin » dépeint Brandon. « RECHERCHE : bassiste pour le concert d'un groupe dubstep/polka/jazz fusion basé sur la fan-fic (histoire rédigée par un fan, *NdT) « Cupcakes ». Comportement professionnel exigé ». C'est effectivement difficile d'imaginer qu'une structure comme la communauté brony puisse s'établir sans les câbles catalyseurs d'internet.</span>
      </p>
      <blockquote>
        <p>
          <span  >« Il y a des personnes participant à des groupes complets et qui ne se sont jamais rencontrés physiquement. Cela rend les performances sur scène légèrement stressantes ».</span>
        </p>
      </blockquote>
      <p>
        <span>Ces connections forgées sur internet peuvent permettre aux musiciens bronies d'avoir de grands projets dans le monde réel, et de créer des événements qui lient une communauté disparate. Bejoty était l'un des principaux organisateurs de Musiquestria, une « folle et ambitieuse idée » d'une tournée de quatre semaine de musique country brony, comprise entre les deux principales conventions que sont Everfree Northwet et la Bronycon. Il rassemblèrent des fonds via le site de financement collaboratif (crowdsourcing) Indiegogo, pour obtenir au final 10.000 dollars, assez pour boucler la tournée sachant qu''elle se limite à une douzaine de villes et de se débrouiller pour le logement et le mise en place d'un plan marketing. La tournée fut un triomphe, et l'une des constatations de Bejoty fut que cela le rapproche bien plus d'autres musiciens bronies. « Je n'aurais échangé cela pour rien d'autre au monde. J'adore ces gars », dit-il.</span>
      </p>
      <p>
        <span>Mais les problèmes de la vie quotidienne et les tribulations des musiciens indépendants trouvent toujours un moyen de s'immiscer là-dedans. Mic the Microphone raconte l'histoire d'un de ses amis, « un musicien formidable » et « un mec bourré de talent », qui est venu le rencontrer à la BronyCon. « Je n'ai nulle part où aller après ça (la convention) » dit-il. « J'ai participé à la tournée Musiquestria et mon colocataire n'a pas payé sa part du loyer. Je me suis fait chasser de mon appartement. Je n'ai nulle part où aller ». Mic the Microphone raconte qu'il s'est adressé aux organisateurs de la Bronycon pour tenter d'obtenir pour son ami une forme de compensation.</span>
      </p>
      <p>
        <span>L'argent est un problème intrinsèque de la scène brony [musicale]. De nombreux artistes bronies mettent en avant la merveilleuse générosité de la communauté. Bejoty raconte une époque datant de la fin de la première saison, où au détour d'une levée de fonds collaborative il lut le commentaire suivant : « Je suis vraiment désolé, mais en tant qu'étudiant mes finances sont très limitées actuellement. Je peux seulement donne 20 dollars ». Bon courage pour trouver un étudiant lambda qui accepte aujourd'hui de céder la moitié de cette somme juste pour acheter un album. MandoPony explique qu'il est capable de gagner assez d'argent via ses ventes pour continuer de faire de la musique, « ce qui est fantastique ». Il y a une forme d'empressement à partager et tendre la main aux autres dans la communauté brony, financièrement ou de toute autre manière.</span>
      </p>
      <p>
        <span>Mais même en prenant compte la générosité de la communauté, l'absence d'argent au sein de la scène peut parfois rendre les choses difficiles pour les musiciens bronies. Mic the Microphone explique que les bronies populaires participant à de nombreuses conventions [à travers les Etats-Unis] en sont arrivés à un point où « l'opportunité de se produire [et les dépenses induites] ne valaient pas le cachet reçu ». C'était juste irréalisable. Il nous montre que dorénavant de nombreux bronies éminemment connus souhaitent être traités comme des musiciens professionnels, et que par conséquent les conventions doivent budgétiser leur participation en conséquence si ils veulent attirer les noms les plus connus. Quand bien même ; la communauté grandissant ; les conventions continuent de se développer. Brandon O'Brien cherche à faire du Ponystock un événement couvrant divers sites au fil de l'année à venir pour programmer le plus de représentations possibles (en terme de variété d'artistes, *NdT), en essayant de mettre sur pied des ateliers et des débats-rencontres où tous pourront « interagir et apprendre des nombreux talents que la communauté a suscité». L'avenir semble radieux pour les musiciens bronies cherchant à tracer leur voie vers une carrière professionnelle</span>.
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/-izLkasbzG0?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <strong></strong>
        <strong>
          <span>
            Après les Poneys
            <br />
          </span>
        </strong>
      </p>
      <p>
        <span>
          Sortir d'une communauté qui vous accepte et vous encourage quasi-inconditionnellement peut se révéler terrifiant pour certains musiciens bronies, particulièrement ceux qui ne sont pas certains que leurs fans répondront positivement à leurs réalisations n'exposant pas explicitement la série
          <em>My Little Pony</em>.
          <br />Ce n'est pas une crainte injustifiée du point de vue d'une personne cherchant à devenir un musicien professionnel."Si nous abordons le sujet des musiques non-bronies, ou encore ma carrière musicale actuelle, il a été très, très difficile d'acquérir du soutien" avoue MandoPony. "Je pense qu'uniquement 5% de mon audience se préoccupe de mes réalisations lorsqu'elles ne sont pas en lien avec la série. L'avertissement que je pourrais partager à ceux désirant s'investir dans la scène musicale liée à MLP : n'espérez pas que les bronies suivent vos réalisations exemptes de poneys. Ils ne sont juste pas intéressés." C'en est aberrant d'avoir un creuset culturel aussi passionné se développant autour d'une passion commune pour une série particulière. Les bronies adorent
          <em>My Little Pony</em>.
        </span>
        <br />
        <span>
          Ceci étant dit, il semble que le vécu des musiciens au sein de la scène musicale brony les a incontestablement aidés à se diversifier. Bejoty nous explique qu'il a joué quelques-unes de ses chansons traitant de poneys à des spectacles en dehors de la communauté brony, et qu'il tend à écrire des chansons qui ne sont pas « ouvertement liées à la série ». MandoPony a déjà composé des morceaux pour plusieurs courts-métrages ainsi que des jeux-vidéos indépendants. Il espère continuer dans cette voie. Même si Mic the Microphone déclare qu'il verra toujours la musique comme plus qu'un passe-temps il a découvert que sa passion se situait dans le doublage, il a d'ailleurs récemment participé activement à un projet d'animation.
          <br />Même si les bronies en tant que tels ne le suivent plus dans sa prochaine entreprise artistique, du moins dans le cas de Mic, leur support et leur encouragement dans ses expérimentations et son développement dépassent de loin les huées qu'il reçut lors du concours de talents de sa jeunesse.
        </span>
      </p>
      <p>
        <span>Je ne suis pas là pour encenser la communauté brony, ou pour projeter sur eux des valeurs idéalistes que personne ne pourrait soutenir. Comme Mic the Microphone l'a souligné plusieurs fois au cours de notre conversation, nous sommes tous humains, nous faisons tous des erreurs. Ce qui m'a le plus frappé chez les musiciens bronies avec qui j'ai discuté est la tolérance dont ils font preuve à propos de leurs erreurs, et leur volonté à tenter de les corriger. Andrew W.K. dénote l'effort consciencieux dont font preuve les bronies qu'il a rencontré d'éviter toute forme de hiérarchie, même si j'ai appris d'autres qu'elle se développait malgré tout de manière insidieuse au sein de la communauté. Cela montre le degré de conscience dont fait preuve la communauté brony de ses propres problèmes, et de la solide volonté de rendre le fandom aussi ouvert et encourageant que possible.</span>
      </p>
      <blockquote>
        <p>
          <span  >« Les musiciens faisant partie de cette communauté sont (parfois prudemment) positifs en ce qui concerne le futur de la communauté, et ce n'est pas tant une forme d'optimisme aveugle, qu'une confiance sincère dans les valeurs centrales de la communauté, qui continuera à protéger ou promouvoir l'énergie créative trouvée par tant de personnes chez ces « superbes poneys ». »</span>
        </p>
      </blockquote>
      <p>
        <span>
          « Les musiciens faisant partie de cette communauté sont (parfois prudemment) positifs en ce qui concerne le futur de la communauté, et ce n'est pas tant une forme d'optimisme aveugle, qu'une confiance sincère dans les valeurs centrales de la communauté, qui continuera à protéger ou promouvoir l'énergie créative trouvées par tant de personnes chez ces « superbes poneys ». » Dans une époque dominée par le cynisme voire une forme de positivité insipide, ces musiciens bronies se sont débrouillés pour éviter ces écueils. Et c'est bien cela que nous devrions tous retenir d'eux.
          <br />
        </span>
      </p>
      <p>
        <span class="embed-youtube" style="text-align:center; display: block;">
          <iframe
            class="youtube-player"
            type="text/html"
            width="960"
            height="570"
            src="https://www.youtube.com/embed/8-TvjOfQI2w?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent"
            frameborder="0"
          ></iframe>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span>
          Si vous voulez écouter d'autres réalisations musicales liées à MLP, n'hésitez pas pas à consulter
          <a
            title="C'est de la bonne !"
            href="https://www.youtube.com/playlist?list=PL6f3D7oLZU4nGWSlP-igvMZoA1ZrPN0cR"
          >la liste musicale de découverte</a>, contenant 20 titres bronies essentiels spécialement sélectionnés pour l'occasion par
          <a title="Equestria Daily" href="http://www.equestriadaily.com/">Equestria Daily</a> (vous pouvez y aller les yeux fermés, la sélection est géniale ! *NdT).
        </span>
      </p>
    </div>

    <Shareon />

    <hr/>

    <div class="comments">
      <h3>Commentaires</h3>
      <div class="comment">
        <div class="comment-details"><b>otak</b> - 6 février 2014 à 12 h 08 min</div>
        <div class="comment-content">
          <p>Super article ! Un grand merci pour ta traduction Mijka <img src="https://radiobrony.fr/wp-content/plugins/radiobrony/smilies/raritywink.png" alt=";)" class="wp-smiley"> </p>
          <p>C'est bien que Mic reconnaisse qu'il est eu le melon, parce que c'était flagrant effectivement !</p>
          <p>Tout le reste est assez cool est positif, même si je suis aussi de ceux qui sont optimiste réaliste sur l'avenir : la monétisation, la hiérarchie etc, même si on veux y échapper un jour surement on y aura surement droit, pourvue que ça reste tenue par des mecs avec une moral et qui n'y voie pas un moyens d'y amener leur égo et de voir ça comme un moyen de faire de l'argent facile !</p>
          <p>Sur ce, j'ai envie de dire que la radio va surement tourner pour la journée maintenant x)</p>
        </div>
      </div>
      <div class="comment">
        <div class="comment-details"><b>Mijka <small>[Auteur]</small></b> - 6 février 2014 à 12 h 38 min</div>
        <div class="comment-content">
          <p>J'ai eu beaucoup de plaisir à traduire cet article, et même si cela m'a coûté plusieurs heures d'effort, je pense que le partage au versant francophone de la communauté était nécessaire pour différentes raisons.</p>
          <p>Le fandom peut tout aussi bien traverser des hauts que des bas, et quand bien même certaines petites horreurs peuvent éclore par-ci par-là, cet article nous rappelle la force des valeurs au cœur de la communauté, et leur résilience, notre capacité à chercher à en retirer le meilleur et à aller de l'avant.</p>
        </div>
      </div>
      <div class="comment">
        <div class="comment-details"><b>Alyshaitre</b> - 6 février 2014 à 13 h 51 min</div>
        <div class="comment-content">
          <p>Alors, tout d'abord, un gros merci pour cette traduction Mijka!</p>
          <p>Etant nouveau dans la communauté (aux alentours de décembre) je ne peux qu'être d'accord sur l'ouverture d'esprit de cette communauté (merci à Cesese et Shining Paradox (dans une autre mesure) de m'avoir donner envie de découvrir ces ponies). Je suis très vite arrivé sur Radio Brony, ou j ai découvert de nombreuses production de fans (négligeable par rapport à la production)!</p>
          <p>Il est notamment vrai que cette communauté donne envie de produire (cc Cesese <img src="https://radiobrony.fr/wp-content/plugins/radiobrony/smilies/derpy2.png" alt=":P" class="wp-smiley"> ). Pour moi ce serait surtout un effet boule de neige, c'est a dire que la quantité de choses produites (dessins, musiques, jeux, recettes de muffins, gens très sympas, etc) donnent envie de produire a son tour dans une forme de partage: une sorte de "Il est trop bien ton dessin, regarde le miens!"</p>
          <p>Personnellement tout les types de productions m’intéressent plus ou moins. Et étant nouveau je n'ai pas beaucoup bougé de Radio Brony ou je me suis fait de nombreux amis et ou je découvre de nombreuses choses tout les jours! Mais il va falloir que j'ouvres mes ailes et que j ailles voire un peu autour (vous restez mon point d encrage, no stress!) ce qui se passe chez les autres sites Brony francophones.</p>
          <p>Du coup vis a vis de ma "jeunesse" je ne peut pas encore m exprimer sur les hauts et les bas du fandom. Mais je tenais a donner mon avis!</p>
          <p>PS: J attends des commentaires sur ce que je viens d'écrire moi aussi <img src="https://radiobrony.fr/wp-content/plugins/radiobrony/smilies/derpy2.png" alt=":P" class="wp-smiley">  Qu'en pensez vous? Je me fourvoies sur certains points?</p>
        </div>
      </div>
      <div class="comment">
        <div class="comment-details"><b>Klondike</b> - 6 février 2014 à 17 h 38 min</div>
        <div class="comment-content">
          <p>Je pense pas que quelqu'un soit capable d'imaginer a quel point je suis content que cet article soit paru.</p>
          <p>Et encore plus que tu l'ai traduit mijka merci encore &lt;3 .</p>
        </div>
      </div>
      <div class="comment">
        <div class="comment-details"><b>Zebu</b> - 7 février 2014 à 11 h 37 min</div>
        <div class="comment-content">
          <p>Merci Mijka pour cette traduction, l'article était très intéressant <img src="https://radiobrony.fr/wp-content/plugins/radiobrony/smilies/raritywink.png" alt=";)" class="wp-smiley"> </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Shareon from '@/components/Shareon.vue'

export default {
  name: 'oldblog-fim-artistes-indes',
  components: {
    Shareon
  },
  mounted () {
    document.title = '« Friendship is Magic » : ce que pourraient apprendre de MLP les artistes indépendants. | Radio Brony'
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/oldblog.scss'
</style>
