#updatingModal {
  display: none;
}
#updatingModal.is-open {
  display: block;
  z-index: 9999;
}
#updatingModal .updatingModal-overlay {
  align-items: center;
  animation: mmfadeIn 0.3s;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#updatingModal .updatingModal-container {
  animation: mmslideIn 0.8s;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 500px;
  overflow-y: auto;
  padding: 30px;
}
@keyframes mmfadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes mmslideIn {
  0%   { opacity: 0; transform: translateY(30%); }
  50%  { opacity: 0; transform: translateY(30%); }
  100% { opacity: 1; transform: translateY(0); }
}