<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MLP Streams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/promise-polyfill"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <style>
    body {
      background: transparent;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
    }

    .videoWrapper {
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      position: relative;
    }

    .videoWrapper iframe {
      background-color: black;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .note {
      background-color: lightgray;
      color: black;
      text-align: center;
    }

    .ad {
      background-color: lightgray;
      color: black;
      padding: 5px;
      text-align: center;
    }

    .ad a, .ad a:visited {
      color: inherit;
    }

    .buttons {
      text-align: center;
    }

    .buttons .button {
      background: #b9b9b9;
      border-radius: 100px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin: 2px;
      padding: 5px 10px;
      text-decoration: none;
    }

    .buttons .button:hover {
      background: #76B3FA;
    }

    .buttons .button.selected {
      background: #5F9BE0;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/vue2-animate/dist/vue2-animate.min.css">
</head>
<body>
  <div id="app">
    <div class="videoWrapper">
      <transition name="fade" mode="out-in">
        <iframe
          v-if="selected.url" :key="selected.url" :src="selected.url"
          frameborder="0" webkitallowfullscreen allowfullscreen></iframe>
      </transition>
    </div>
    <div class="buttons">
      <span
        class="button"
        v-for="s in streams"
        :key="s.name"
        :class="{ 'selected': (selected.name == s.name) }"
        @click="selected = s">
        {{ s.name }}
      </span>
    </div>
    <div class="note">
      Un stream ne fonctionne pas bien ? Essayez un autre !
    </div>
    <!--
    <div class="ad adbanner">
      Bloquez les pubs et le tracking, installez uBlock Origin !
      <br/>
      <a
        target="_blank"
        href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">
        Chrome</a>
      -
      <a
        target="_blank"
        href="https://addons.mozilla.org/addon/ublock-origin/">
        Firefox</a>
      -
      <a
        target="_blank"
        href="https://www.microsoft.com/store/p/app/9nblggh444l4">
        Edge</a>
      -
      <a
        target="_blank"
        href="https://github.com/el1t/uBlock-Safari/releases/download/1.15.4/uBlock0.safariextz">
        Safari</a>
    </div>
    -->
  </div>
  <script>
    var app = new Vue({
      data: {
        selected: {
          name: '',
          url: ''
        },
        streams: [
          {
            name: 'Brony Network',
            url: 'https://ok.ru/videoembed/1399853031055?nochat=1'
          },
          {
            name: 'Derpy.TV',
            url: 'https://radiobrony.fr/derpytv.html'
          },
          {
            name: 'Bronystate',
            url: 'https://vaughn.live/embed/video/cclicker?viewers=true&autoplay=true'
          },
          {
            name: 'Brony TV',
            url: 'https://vaughn.live/embed/video/justanotherbtv?viewers=true&autoplay=true'
          },
          {
            name: 'Otaku Ascended',
            url: 'https://vaughn.live/embed/video/otakuascended?viewers=true&autoplay=true'
          }
        ]
      },
      mounted () {
        this.selected = this.streams[0]
        console.log('Mounted!')
      }
    }).$mount('#app')
  </script>
</body>
</html>
