<template>
  <div class="equipe">
    <h2>Équipe et remerciements</h2>
    <p>
      Lancé en 2012, Radio Brony est le fruit du travail bénévole et du support
      de plus de 40 personnes différentes.<br>
      Bien que les têtes qui étaient au lancement de la station ne sont plus là,
      l'idée et le but premier de la radio est restée, tout en s'adaptant à
      l'évolution de la communauté et de nos différentes passions (en autorisant
      du contenu non-pony par exemple).
    </p>
    <p>
      Si vous pensez qu'on vous a oublié, que vous voulez un retrait ou une
      modification, contactez-nous par email (contact at radiobrony.fr)
      ou demandez à Kody#1337 sur le Discord.
    </p>

    <h3>L'équipe</h3>
    <p>
      Cette section se compose aussi des participants réguliers ces derniers mois.
    </p>
    <ul>
      <li><b>Kody</b> - Directeur, producteur et animateur.</li>
      <li><b>Light C.</b> - Producteur et animateur.</li>
      <li><b>Tenshi (Starshine Bomber)</b> - Producteur et animateur.</li>
      <li><b>C_Chell</b> - Animateur.</li>
      <li><b>Apo H.</b> - Participant régulier.</li>
      <li><b>Butterscotch</b> - Participant régulier.</li>
      <li><b>Minux</b> - Participant régulier.</li>
      <li><b>Nex</b> - Participant et designer de logo (durant l'ère v2).</li>
      <li><b>Lanicia</b> - Ninja.</li>
    </ul>

    <h3>Remerciements</h3>
    <p>
      Ils ont joué un rôle important, ont animé une chronique ou une émission,
      et/ou nous ont grandement aidé ou supporté.<br>
      Une liste non-exaustive.
    </p>
    <ul>
      <li><b>Gracowitz</b> - Fondateur.</li>
      <li><b>Xéfir</b> - Co-fondateur, producteur, animateur, développeur et sys-admin.</li>
      <li><b>Astaen</b> - Co-fondateur, graphiste, producteur et animateur.</li>
      <li><b>Seris</b> - Développeuse.</li>
      <li><b>Dreamyn</b> - Rédactrice et graphiste.</li>
      <li><b>Mijka</b> - Rédacteur, producteur et animateur.</li>
      <li><b>645swc</b> - Producteur et animateur.</li>
      <li><b>Kawette</b> - Productrice et animatrice.</li>
      <li><b>MIM</b> - Producteur et animateur.</li>
      <li><b>Monara</b> - Producteur et animateur.</li>
      <li><b>Monochrom Script</b> - Producteur et animateur.</li>
      <li><b>Nisana</b> - Producteur et animateur.</li>
      <li><b>Arysthaar</b> - Chroniqueuse.</li>
      <li><b>Osmoze</b> - Chroniqueur.</li>
      <li><b>Xeno Kagamine</b> - Chroniqueur.</li>
      <li><b>Zombini</b> - Taggeur de titres en masse.</li>
      <li><b>BakaDash</b> - Gestionnaire de musique.</li>
      <li><b>Otaku9999</b> - Radio Glouglou.</li>
      <li><b>SilverEagle</b> - Grand ami et fondateur de Ponyville Live!</li>
      <li><b>Awouay</b></li>
      <li><b>Delt0x</b></li>
      <li><b>FrammPepinillo</b></li>
      <li><b>FrozenTux</b></li>
      <li><b>InnoPony</b></li>
      <li><b>Iron_Collapse</b></li>
      <li><b>Kiy0nari</b></li>
      <li><b>Maxime_SH</b></li>
      <li><b>Mkel</b></li>
      <li><b>Nicrid</b></li>
      <li><b>noskill</b></li>
      <li><b>Nyu_Chan</b></li>
      <li><b>Quazar</b></li>
      <li><b>rafox</b></li>
      <li><b>RainbowJack</b></li>
      <li><b>Retidurc</b></li>
      <li><b>Scamper (Team MLT)</b></li>
      <li><b>Shell</b></li>
      <li><b>Slapony</b></li>
      <li><b>Sykos</b></li>
      <li><b>White Wind</b></li>
      <li><b>xNuance</b></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'equipe',
  mounted () {
    document.title = 'Équipe | Radio Brony'
  }
}
</script>

<style lang="scss" scoped>
</style>
