<template>
  <div class="faq">
    <h2>FAQ</h2>

    <strong>Navigation</strong>
    <ul>
      <li><a href="#quoi">Où suis-je ? C'est quoi Radio Brony ?</a></li>
      <li><a href="#rejoindre">Comment ne (pas) faire parti de l'équipe ?</a></li>
      <li><a href="#ecoute">Quels sont les différents moyens d'écouter la radio ?</a></li>
      <li><a href="#passer">Comment puis-je passer à la radio ?</a></li>
      <li><a href="#discuter">Où pouvons-nous discuter de la radio ?</a></li>
      <li><a href="#pics">Sources pour le logo</a></li>
      <li><a href="#english">Where am I, why is everypony speakin' in fancy?</a></li>
    </ul>

    <hr />

    <div id="quoi">
      <strong>Où suis-je ? C'est quoi Radio Brony ?</strong>
      <p>
        Radio Brony est la toute première station de radio pour les Bronies francophones, elle diffuse de la pony-music 24/7 ainsi que des émissions régulières concernant My Little Pony: FiM, sa communauté, ou divers sujets qui nous passionnent !
        Notre but est de promouvoir du contenu Brony, même s'il le lien avec les poneys est très réduit, et de laisser aux francophones un espace où ils pourront faire des podcasts et partager leurs passions.
        Pour l'écouter, appuie sur "Play" dans le lecteur en haut du site ou <a href="#ecoute">trouve d'autres moyen de nous écouter sur cette même page</a>.
      </p>
    </div>

    <hr />

    <div id="rejoindre">
      <strong>Comment ne (pas) faire parti de l'équipe ?</strong>
      <p>
        Il y a encore de la place pour des émissions sur notre antenne, et nous serions très content de laisser des gens l'exploiter mais uniquement sous quelques conditions.
        Il est important de savoir que nous, chez Radio Brony, n'allons pas vous donner une tâche à faire et vous dire ce que vous aller devoir présenter. En d'autre termes, c'est vous qui devez venir avec un projet et vous devez nous produire un épisode "pilote" qui nous permettra de
        1) vous donner notre avis et conseils dans le but d'améliorer l'émissions (réglages audio, écriture, durée, etc...) et de
        2) valider ou non l'émission et de s'organiser sur les diffusions.
      </p>
      <p>
        Nous sommes assez libre sur les types d'émissions. Le contenu lié au fandom est toujours priorisé, mais si vous voulez parler de culture, de jeux vidéos ou de technologie, vous êtes aussi la bienvenue ! A savoir, le contenu plus... mature est soumis à des conditions plus durcie (mais reste négociable).
        Alors, envie de nous rejoindre ? Présentez-vous et envoyez-nous un pilote d'émission à l'email <code>contact@radiobrony.fr</code>.
      </p>
    </div>

    <hr />

    <div id="ecoute">
      <strong>Quels sont les différents moyens d'écouter la radio ?</strong>
      <p>
        Tout d'abord : nous ne sommes pas sur la bande FM ou en DAB+.<br />
        Tu peux cliquer sur le bouton "play" dans le lecteur tout en haut de ce site pour nous écouter.<br/>
        Nous sommes aussi disponible <a target="_blank" rel="noreferrer noopener" href="http://tunein.com/radio/Radio-Brony-s185719/">sur TuneIn</a> (et toutes ses applications) et l'extension de navigateur <a target="_blank" rel="noreferrer noopener" href="https://hoofsounds.little.my/">HoofSounds</a>.<br/>
        Si tu as une Freebox, tu peux aussi nous retrouver dans la liste des radios.
      </p>
      <table>
        <tr><td colspan="3">Les liens directs :</td></tr>
        <tr><td>MP3</td>    <td>(128kbps)</td>        <td><code>https://radiobrony.live/mp3</code></td></tr>
        <tr><td>AAC</td>    <td>(96kbps)</td>         <td><code>https://radiobrony.live/acc</code></td></tr>
        <tr><td>Vorbis</td> <td>(~192kbps)</td>       <td><code>https://radiobrony.live/ogg</code></td></tr>
        <tr><td>HLS</td>    <td>(AAC adaptatif)</td>  <td><code>https://radiobrony.live/hls/live.m3u8</code></td></tr>
      </table>
    </div>

    <hr />

    <div id="passer">
      <strong>Comment puis-je passer à la radio ?</strong>
      <p>
        Lors de certaines émissions, les auditeurs sont invités à prendre la parole. Pour cela rien de plus simple, rejoint notre Discord à travers l'invitation présente sur la page d'accueil et retrouve-nous dans le "Studio".
        Attention, le <em>push-to-talk</em> est obligatoire.
      </p>
    </div>

    <hr />

    <div id="discuter">
      <strong>Où pouvons-nous discuter de la radio ?</strong>
      <p>
        Une catégorie "Radio Brony" est présente sur le Discord de la New Lunar Republic.<br/>
        Retrouvez le lien pour nous rejoindre sur la page d'accueil du site !
      </p>
    </div>

    <hr />

    <div id="pics">
      <strong>Sources pour le logo</strong>
      <p>
        Depuis que le lecteur audio n'est plus présent dans notre logo, nous avons régulièrement rempli le blanc sur la gauche avec divers montages.<br/>
        Le logo de base et la mascotte en vol par Astaen. Montages par la suite par MKody et Nex.
      </p>
      <details>
        <summary>Historique et sources</summary>
        <div class="logo-list">
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/kfairMFHi3Nq0zFgZcGXYhECpqY=/0x140/https://radiobrony.fr/wp-content/uploads/2014/05/logorb-derpbox.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://neriani.deviantart.com/art/if-Derpy-Hooves-was-an-Alicorn-456273942">if Derpy Hooves was an Alicorn...</a>
              par Neriani
              & <a target="_blank" rel="noopener noreferrer" href="http://dasprid.deviantart.com/art/Mysterious-Box-428359357">Mysterious Box</a>
              par dasprid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/Xi5iSgP-chE-a47LAT6Qr_u40qE=/0x140/https://radiobrony.fr/wp-content/uploads/2014/06/logorb-bw.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://dreamynart.deviantart.com/art/Bluewave-407275853">Bluewave~</a>
              par Dreamyn
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/B4Y7vyq6_98M6Ty87XEYw-xle3Q=/0x140/https://radiobrony.fr/wp-content/uploads/2014/06/RBLogo-Aryanne.png"/>
            <div class="logo-desc">
              Aryanne 2
              par Huerque
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/bcURXE7dViBRa1GaJY8tMinUxJ4=/0x140/https://radiobrony.fr/wp-content/uploads/2014/06/1403914763-rb1.png"/>
            <div class="logo-desc">
              discord vector
              par C-H-Loboguerrero-C
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/3v9_8OOoYNVGLgU-hQ__h0IrYow=/0x140/https://radiobrony.fr/wp-content/uploads/2014/07/1404166311-rblogo2.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://bronytoss.deviantart.com/art/Derpy-Eating-A-Cloud-297903464">Derpy Eating A Cloud</a>
              par Bronytoss
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/L61SuEHtp_-SWtjbTaTHL--nMzg=/0x140/https://radiobrony.fr/wp-content/uploads/2014/07/1404171940-rblogo3.png"/>
            <div class="logo-desc">
              <em>Image venant du show</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/LbGqMw-9aUgnCFSR-QbwXvwbyS4=/0x140/https://radiobrony.fr/wp-content/uploads/2014/07/1404173009-rblogo5.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://turbosolid.deviantart.com/art/Lyra-Enjoys-The-Comforts-of-Sitting-Vector-291380438">Lyra Enjoys The Comforts of Sitting</a>
              par TurboSolid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/GYZtWDOGvBLLHW_3NWH0c11vqMs=/0x140/https://radiobrony.fr/wp-content/uploads/2014/07/1404173432-rblogo6.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://heart-of-stitches.deviantart.com/art/Screwball-260069555">Screwball</a>
              par Heart-Of-Stitches
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/FIwW3QPA838p8wE0rZ7uGSvu1vw=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416076226-rblogo7.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://lolke12.deviantart.com/art/Discord-286350289">Discord</a>
              par lolke12
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/ANFufB3RCbt075wThYNLlv_iWG8=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416093845-rblogo8.png"/>
            <div class="logo-desc">
              Octavia - Standing
              par Quanno3
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/DSbykPN0Gic8rjMclUeBSr1DUP0=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416093844-rblogo9.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://masemj.deviantart.com/art/Growing-Pains-446274982">Growing Pains</a>
              par masemj
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/embxhx0cQTsNF9PA20dEJCpFj7E=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416349923-rblogo10.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://the-intelligentleman.deviantart.com/art/Luna-on-a-Cloud-341923194">Luna on a Cloud</a>
              par The-Intelligentleman
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/y6ZMJEzGbt7XCw4I6xJnSv7OBz4=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416352872-rblogo11.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://xxphantomxxx.deviantart.com/art/Big-Mac-laugh-450059268">Big Mac laugh</a>
              par xXPhantomXXx
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/rnpIWdzHufeT7y7KonrbF67MkZk=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416683299-rblogo12.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://internationaltck.deviantart.com/art/Ninja-Pie-294798428">Ninja Pie</a>
              par InternationalTCK
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/N14jOUbuub1PZ3rcg_qVrgUkNyw=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416867244-rblogo13.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://liamwhite1.deviantart.com/art/Let-s-Dance-469777723">Let's Dance!</a>
              par liamwhite1
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/_R4tJnyAQFonZ1PaRlPQ--XtDeY=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416868223-rblogo14.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://liamwhite1.deviantart.com/art/Stretchy-469932607">Stretchy</a>
              par liamwhite1
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/qnnEgDqVkrS7X_kpFf5Llz9hApM=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1416869821-rblogo15.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://scienceisanart.deviantart.com/art/Discord-Does-the-Splits-476708504">Discord Does the Splits</a>
              par scienceisanart
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/AFUENylL3TjpQUpjELHn6vgYYuI=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1417040318-rblogo16.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://liamwhite1.deviantart.com/art/Cheese-Sandwich-says-hi-430862886">Cheese Sandwich says hi</a>
              par liamwhite1
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/gL9BOCeegFcsF_m2jc9ObUorN-Y=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1417042121-rblogo17.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://popmannn.deviantart.com/art/Albert-Equinestein-314694430">Albert Equinestein</a>
              par popmannn
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/2itGJL3aCb4M5OyutAPbmMbQuPo=/0x140/https://radiobrony.fr/wp-content/uploads/2014/11/1417361356-rblogo18.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://glitchking123.deviantart.com/art/MMM-Jelly-3-378262938">MMM Jelly :3</a>
              par GlitchKing123
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/8WgANlOTAM-OSQ52A9sTrGVQ5rk=/0x140/https://radiobrony.fr/wp-content/uploads/2014/12/1418412406-rblogo19.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://chainchomp2.deviantart.com/art/Popcorned-Meadow-Song-474589796">Popcorned Meadow Song</a>
              par ChainChomp2
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/mmAcqun1X0X2MZYj0S8t6bN7R-k=/0x140/https://radiobrony.fr/wp-content/uploads/2014/12/1418412406-rblogo20.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://sakatagintoki117.deviantart.com/art/Pinkie-playing-the-organ-421244502">Pinkie playing the organ</a>
              par sakatagintoki117
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/S7137AFHX7ShvEqBVdD7miTd8MQ=/0x140/https://radiobrony.fr/wp-content/uploads/2014/12/1418596506-rblogo21.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://joyfulinsanity.deviantart.com/art/This-My-Sweater-Right-499534442">This My Sweater.... Right?</a>
              par JoyfulInsanity
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/TXjYnZ-7CFUT4xuJ2zG6TRj6GXs=/0x140/https://radiobrony.fr/wp-content/uploads/2014/12/1419631426-rbhplogo.png"/>
            <div class="logo-desc">
              <em>On a perdu les sources.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/5EGzPq1GX-Z-ZnkZ9e4YjQY11Qg=/0x140/https://radiobrony.fr/wp-content/uploads/2014/12/1419984785-rblogo22.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://powerpuncher.deviantart.com/art/Rainbow-Dash-This-is-gonna-be-great-449384945">Rainbow Dash - This is gonna be great</a>
              par Powerpuncher
              & <a target="_blank" rel="noopener noreferrer" href="http://tecknojock.deviantart.com/art/Kitchen-Sink-251078449">Kitchen Sink</a>
              par TecknoJock
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/v7of9KhU4-CV14hBKP9Mo_eJNIk=/0x140/https://radiobrony.fr/wp-content/uploads/2015/01/cropped-1420576576-rblogo23.png"/>
            <div class="logo-desc">
              Apple pie
              par Sir-Teutonic-Knight
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/RCINuRu_nLZMuGhFIBSTsQjqjJQ=/0x140/https://radiobrony.fr/wp-content/uploads/2015/01/1420578956-rblogo24.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://masemj.deviantart.com/art/It-s-Time-to-Duel-424937879">It's Time to Duel!</a>
              par masemj
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/MbgHWXHA2uBdradR-FGhyyyosTs=/0x140/https://radiobrony.fr/wp-content/uploads/2015/01/1421275426-rblogo25.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://masemj.deviantart.com/art/May-The-Farce-Be-With-You-429549545">May The Farce Be With You</a>
              par masemj
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/Fbu71ZhbYC95EDsTmLB6R5Y0oRs=/0x140/https://radiobrony.fr/wp-content/uploads/2015/04/1427839577-rb1avrlogo1.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://kopachris.deviantart.com/art/Request-Pinkie-Pie-260515401">Request - Pinkie Pie</a>
              par Kopachris
              & Steven Universe Render 1
              par zoisitesarugaki
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/UJkf-xxqJMqoWnB0kj54ISiipMw=/0x140/https://radiobrony.fr/wp-content/uploads/2015/05/1431883301-rblogo28.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://credechica4.deviantart.com/art/Solid-Discord-533417884">Solid Discord</a>
              par credechica4
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/BL8Y4MJFsysiB7w4wGaTyZkKnfk=/0x140/https://radiobrony.fr/wp-content/uploads/2015/05/1431883302-rblogo29.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://masemj.deviantart.com/art/Boop-533498469">Boop</a>
              par masemj
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/X1jF-txl2PksQ9JMrm1IwTCJERY=/0x140/https://radiobrony.fr/wp-content/uploads/2015/05/1432469978-rblogo30.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://vekgamingqc.deviantart.com/art/Pinkie-Pie-Derp-Face-534901382">Pinkie Pie Derp Face</a>
              par VekGamingQC
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/3L2vEwdGz2fQAo0kfaakWkxUHuo=/0x140/https://radiobrony.fr/wp-content/uploads/2015/05/RBLogo-bookdash.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://dasprid.deviantart.com/art/Rainbow-Sparkle-534848453">Rainbow Sparkle</a>
              par dasprid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/f-2d5R-93ZeYBwjuLI5ygeQYm-E=/0x140/https://radiobrony.fr/wp-content/uploads/2015/07/rblogo-bookhorse1.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/929645">Bookhorse</a>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/dPKMF0tvjzKAFufYg4_eW7wLrno=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-applepie-bed.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://mit-boy.deviantart.com/art/Bed-with-Pinkie-545650268">Bed with Pinkie</a>
              par Mit-boy
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/bvMM-heno1TzmiJzWaCponkaGNg=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-bonbon.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://zacatron94.deviantart.com/art/Agent-Bon-539603308">Agent-Bon</a>
              par Zacatron94
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/MSMNEV1seql3AUL_cnFt_Av5cbA=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-bookstwi.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://slb94.deviantart.com/art/Twi-Loves-Her-Books-543016432">Twi Loves Her Books</a>
              par SLB94
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/LyFJnrhHBKpHq5g6pLzk50IB1dQ=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-changeling.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://v0jelly.deviantart.com/art/I-Was-Told-There-Would-Be-Free-Food-539411480">I Was Told There Would Be Free Food</a>
              par V0JELLY
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/VD6vagLtQ43D80cjLSB9U7ICwAA=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-derpy.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ivacatherianoid.deviantart.com/art/Ditzy-Doo-Derpy-Claps-HD-539414771">Ditzy Doo/Derpy Claps (HD)</a>
              par IvaCatheriaNoid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/gB1_DbrLwQDZyvmtD1UY2jJqHRI=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-derpy_plane.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://sofunnyguy.deviantart.com/art/Derpy-flying-a-plane-542185731">Derpy flying a plane</a>
              par sofunnyguy
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/g5ZwzAnm3b-9BrHpXRsL6VUaDvA=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-glimmer1.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ivacatherianoid.deviantart.com/art/Laying-Starlight-Glimmer-vector-HD-545522488">Laying Starlight Glimmer vector (HD)</a>
              par IvaCatheriaNoid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/YG9ZR0n-7AqzQvW5R1d5-_CQbog=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-glimmer2.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ivacatherianoid.deviantart.com/art/Sitting-Starlight-Glimmer-1-vector-HD-544067878">Sitting Starlight Glimmer 1 vector (HD)</a>
              par IvaCatheriaNoid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/jMXnpnkEQjufx9gZZrAifxQxGjA=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-glimmer3.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://zacatron94.deviantart.com/art/Alt-Mane-Starlight-Glimmer-541294614">Alt. Mane - Starlight Glimmer</a>
              par Zacatron94
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/LH6SdKe1wvX-9UONRx9xERZSZBY=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-glimmer4.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://kuren247.deviantart.com/art/A-wonderful-awful-idea-540694730">A wonderful, awful idea!</a>
              par kuren247
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/xKna_ftrfqPEhBcdAHdY53WktH8=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-hairtwi.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://indigo114.deviantart.com/art/Twilight-Sparkle-s-New-Mane-526245507">Twilight Sparkle's New Mane</a>
              par Indigo114
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/2SxKBwQJyb6v8T3Hf7KMfXpGp48=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-minuette.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ambassad0r.deviantart.com/art/Scrunchy-Minuette-544466666">Scrunchy Minuette</a>
              par Ambassad0r
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/g86q6whZzCBV1Vn9x0e2nAXR0Ck=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-moon_dancer.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://vector-brony.deviantart.com/art/What-was-that-545609520">What was that!</a>
              par Vector-Brony
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/OGIt1ejX3u1WFyTEPLCkmQ1Q6iU=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-panic_pinkie.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://dasprid.deviantart.com/art/That-s-what-I-do-when-I-m-not-nervous-542646080">That's what I do when I'm not nervous</a>
              par dasprid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/AZXVn8ecvyVHfdpeC9fupLSG_l8=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-pinkie.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://estories.deviantart.com/art/Vector-Pinkie-Pie-4-526640071">Vector: Pinkie Pie 4</a>
              par EStories
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/QY6ACbDqbl0blQkqZcm53uSoS3o=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-sci-twi1.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/933845">(edit)</a>&nbsp;
              <a target="_blank" rel="noopener noreferrer" href="http://ivacatherianoid.deviantart.com/art/Alternate-Twilight-Sparkle-vector-3-HD-545166092">Alternate Twilight Sparkle vector 3 (HD)</a>
              par IvaCatheriaNoid
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/sz7z1XoMfGWmh0qSp5s9tvTBWOo=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-sci-twi2.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://camanalli.deviantart.com/art/The-Other-Twilight-543885614">The Other Twilight</a>
              par camanalli
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/CKEi9aCcfc6wHoM8woytzLfrNHE=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-sonata.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://xxxsketchbookxxx.deviantart.com/art/Sonata-Dusk-541028216">Sonata Dusk</a>
              par xxXSketchBookXxx
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/oL98q8m6Vvsryfzc7CQWGj7_2zM=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-sunset.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://kuren247.deviantart.com/art/I-m-Really-Adorable-542661392">I'm Really Adorable</a>
              par kuren247
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/IRLMlrLl0h3PPcd-LospHwy4MR4=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-vicello.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://caliazian.deviantart.com/art/DJ-Pon-3-and-Octavia-Going-To-Be-Late-540852466">DJ-Pon-3 and Octavia - Going To Be Late</a>
              par CaliAzian
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/7UtJf0j25zStmEQwvCxsqpsSE48=/0x140/https://radiobrony.fr/wp-content/uploads/2015/09/RBLogo-vinyl.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ponyhd.deviantart.com/art/Vinyl-Scratch-with-soundmixer-540689224">Vinyl Scratch with soundmixer</a>
              par PonyHD
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/aJLu4wKcnvgUCs3gaw-LFfLSlmc=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-WowVeryFlutter.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://dashiesparkle.deviantart.com/art/Vector-317-Fluttershy-20-574717237">Vector 317 - Fluttershy 20</a>
              par DashieSparkle
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/-PiupiZOvof-1tDvnuODCZ6R3Yc=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-ExcitedFlutter.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://sketchmcreations.deviantart.com/art/Vector-FlutterCan-574680534">Vector - FlutterCan</a>
              par SketchMCreations
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/O2PwR-rJ8bwoDrylc143fLnwsrE=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-OctaviaEATIT.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://midnightblitzz.deviantart.com/art/Tavi-doesn-t-like-anons-535514078">Tavi doesn't like anons</a>
              coloré par MidnightBlitzz, de <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/864456">disastral</a>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/HMZ5zS34afz2am_mJ9uR76WYgf4=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-shockedPie.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://ponyhd.deviantart.com/art/Pinkie-Pie-Mane-and-Tail-Poing-573670205">Pinkie Pie Mane and Tail Poing</a>
              par PonyHD
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/4KL8eZpKSUssLmIVFchY8tPH4bs=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-AngryTwi.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://korsoo.deviantart.com/art/Mad-Twilight-574601769">Mad Twilight</a>
              par Korsoo
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/dF-TwCEbjXDiD1yjsD0-jLLaJkc=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-HostDiscord.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://walkcow.deviantart.com/art/Discord-stand-up-570617049">Discord stand-up</a>
              par Walkcow
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/6KAcZTV4sFTWBoVpwsjtqJdhLJ8=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-BreezieDerp.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://benybing.deviantart.com/art/Derpy-Breezie-437510409">Derpy Breezie</a>
              par benybing
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/ivCYxDR3GzMOc0cdJEJ-0mCHY0Y=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-DerpyCat.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://slb94.deviantart.com/art/Catface-571527890">Catface</a>
              par SLB94
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/zOgdhOo_ogjDY1zgSGv_yom85BE=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-moontrixie.png"/>
            <div class="logo-desc">
              Venant de l'AU Starlight, Moondancer and Trixie
              par xebck
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/snfYnEtyy3ziPuyGxMNj2TxjqjY=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-derpytwi-costume.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://geometrymathalgebra.deviantart.com/art/Derplight-Hooveskle-and-Twiderp-Sparkhooves-571205303">Derplight Hooveskle and Twiderp Sparkhooves</a>
              par GeometryMathAlgebra
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/nvSiF5P7ZbFWWtA937gTr8sd4e8=/0x140/https://radiobrony.fr/wp-content/uploads/2015/11/RBLogo-Battle-TwiGlimmer.png"/>
            <div class="logo-desc">
              (edit) <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/1032257">par un anon d'/mlp/</a>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/-Li1GZgQ71RgViGxPvuBcASaBLg=/0x140/https://radiobrony.fr/wp-content/uploads/2016/04/rblogoreboot.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://dragonm97hd.deviantart.com/art/Dragon-lord-Spike-603629224">Dragon lord Spike</a>
              par DragonM97HD
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/P15Cx0Vj484vnd3crBwQRTU7Clg=/0x140/https://radiobrony.fr/wp-content/uploads/2016/04/rblogorebootc.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://atnezau.deviantart.com/art/Zapapple-Jam-278502198">Zapapple Jam</a>
              par atnezau
              & <a target="_blank" rel="noopener noreferrer" href="http://m99moron.deviantart.com/art/MLP-FiM-intro-scroll-269984429">MLP FiM intro scroll</a>
              par M99moron
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/F-DXDW2fhoa34YfIuIbOqELH-4s=/0x140/https://radiobrony.fr/wp-content/uploads/2016/04/RBLogo-Starxie.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/1142997">Dessin</a>
              par Civilised Changeling
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/Y_DBMJ8V2WOJ3cmNW3sPr2Xtsko=/0x140/https://radiobrony.fr/wp-content/uploads/2016/04/1462046297-rblogorebootorigi.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://jeatz-axl.deviantart.com/art/Trixie-s-Wagon-Stage-392899295">Trixie's Wagon Stage</a>
              par Jeatz-Axl
              & <a target="_blank" rel="noopener noreferrer" href="http://reginault.deviantart.com/art/A-Glimmer-of-Realization-578425982">A Glimmer of Realization</a>
              par Reginault
              & <a target="_blank" rel="noopener noreferrer" href="http://illumnious.deviantart.com/art/Trixie-Scared-586770628">Trixie Scared</a>
              par illumnious
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/L5JRCbldaB69uR54FdKinKuA1CU=/0x140/https://radiobrony.fr/wp-content/uploads/2016/04/1462051422-bbvcncbvncbvnhhghnh.gif"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="http://gurugrendo.deviantart.com/art/Rocks-214634009">Rocks</a>
              par GuruGrendo
              & <a target="_blank" rel="noopener noreferrer" href="http://tamalesyatole.deviantart.com/art/Twilight-Sparkle-Windy-Mane-Vector-316210250">Twilight Sparkle Windy Mane Vector</a>
              par tamalesyatole
            </div>
          </div>

          <!-- Depuis refonte -->

          <div class="logo-el">
            <img src="https://t.radiobrony.fr/_vBCT99vWn0qd-vWRk1zQ7wNEGk=/0x140/https://radiobrony.fr/img/logos/RBLogo-DerpyBomb.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/mrkat7214/art/I-just-don-t-know-what-I-m-seeing-780711246">I just don't know what I'm seeing!</a>
              par MrKat7214
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/UFM1eW6ukMsuGwqDt4HrZDUMFUs=/0x140/https://radiobrony.fr/img/logos/RBLogo-Vener.png"/>
            <div class="logo-desc">
              <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/masemj/art/You-Wouldn-t-Like-Me-When-I-m-Angry-430826718">You Wouldn't Like Me When I'm Angry</a>
              par masemj
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/XfLa5ExwUYcnVrGPAMyKY5QE3Do=/0x140/https://radiobrony.fr/img/logos/RBLogo-pi.png"/>
            <div class="logo-desc">
              <em>Pour le 14 mars, Pi-Day.</em><br/>
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/images/300850">Source du pi</a>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/ruCUVWq4QGq81QErKu_kJ-7pcLA=/0x140/https://radiobrony.fr/img/logos/RBLogo-Francophonie.png"/>
            <div class="logo-desc">
              <em>Pour le 20 mars, journée internationale de la Francophonie.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/8wcOxZwBpDwhv0mFsOLzy3yZNrw=/0x140/https://radiobrony.fr/img/logos/RBLogo-Procastination.png"/>
            <div class="logo-desc">
              <em>Pour le 25 mars, journée de la procrastination.</em><br/>
              <em>On a perdu les sources.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/2CoR5UBccLVoT-QWu0PMEZueHtQ=/0x140/https://radiobrony.fr/img/logos/RBLogo-BigFish.png"/>
            <div class="logo-desc">
              <em>Pour le 1er avril.</em><br/>
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/images/553139">Par un anon d'/mlp/</a>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/u2bfGyZ2IwdD1xKTuntMpZ7kZyg=/0x140/https://radiobrony.fr/img/logos/RBLogo-DisquaireDay.png"/>
            <div class="logo-desc">
              <em>Pour le Disquaire Day.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/o0EIgsRky-D_XIGaSQxtLBC185E=/0x140/https://radiobrony.fr/img/logos/RBLogo-blurple.png"/>
            <div class="logo-desc">
              <em>Logo durant l'anniversaire de Discord (en mai), coloré dans "Blurple" original avant le rebranding.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/lLSvbfIoMtFG7PYbZ01pJ7CzWLE=/0x140/https://radiobrony.fr/img/logos/RBLogo-pride.png"/>
            <div class="logo-desc">
              <em>Pour le mois de juin, pride month.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/yYgX38tSObDl9BoZ5qx37hWmVgA=/0x140/https://radiobrony.fr/img/logos/RBLogo-jupe.png"/>
            <div class="logo-desc">
              <em>Pour le 6 juin, journée de la (mini-)jupe.</em><br/>
              <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/dj6392/art/20151211-01-577368002">20151211-01</a>
              par dj6392
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/p2Zh8sr_3FkS1m8j4AFfnVJegAo=/0x140/https://radiobrony.fr/img/logos/RBLogo-CanadaDay.png"/>
            <div class="logo-desc">
              <em>Pour le 1er juillet.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/DoSsx7mWFi6Q3I_gq7Kgjy3STTw=/0x140/https://radiobrony.fr/img/logos/RBLogo-CatDay.png"/>
            <div class="logo-desc">
              <em>Pour le 8 août, journée du chat.</em><br/>
              Représenté par Capper du film MLP, source du vecteur perdue
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/NMt2pfRYsAvF96lCNUZR5FPgaWM=/0x140/https://radiobrony.fr/img/logos/RBLogo-DogDay.png"/>
            <div class="logo-desc">
              <em>Pour le 28 août, journée du chien</em><br/>
              <a target="_blank" rel="noopener noreferrer" href="https://derpibooru.org/images/1509803">Spike</a>
              par red4567
              & <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/tourniquetmuffin/art/TaW-75-An-Orthros-a-Day-Keeps-You-Trading-Away-450094916">TaW #75: An Orthros a Day Keeps You Trading Away</a>
              par TourniquetMuffin
              & <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/moongazeponies/art/Winona-251365563">Winona</a>
              par MoongazePonies
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/lC5FNyTe3BWN9vEhX94xbKCjfF8=/0x140/https://radiobrony.fr/img/logos/RBLogo-Ete.png"/>
            <div class="logo-desc">
              <em>Logo durant l'été.</em><br/>
              <em>On a perdu les sources.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/HSbBKUpatu1e1TBw6TRzMaw0naQ=/0x140/https://radiobrony.fr/img/logos/RBLogo-Vacances.png"/>
            <div class="logo-desc">
              <em>Variation du logo d'été pour nos vacances.</em><br/>
              <em>On a perdu les sources.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/YKHAq3qNs2R_IqzdSFz84PCTzgE=/0x140/https://radiobrony.fr/img/logos/RBLogo-Halloween.png"/>
            <div class="logo-desc">
              <em>Pour halloween.</em><br/>
              <a target="_blank" rel="noopener noreferrer" href="https://www.deviantart.com/andrevus/art/Skeleanor-Fixed-up-745706209">Skeleanor - Fixed up.</a>
              par andrevus
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/xwTvzzLkKFrM-1bZMV0fjG4Owbk=/0x140/https://radiobrony.fr/img/logos/RBLogo-Fetes.png"/>
            <div class="logo-desc">
              <em>Logo pour les fêtes de fin d'année.</em><br/>
              Variation de <a target="_blank" rel="noopener noreferrer" href="http://dreamynart.deviantart.com/art/Bluewave-407275853">Bluewave~</a>
              par Dreamyn
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/4ErttlaUN9PWn3LFwti7kPd9zms=/0x140/https://radiobrony.fr/img/logos/RBLogo-nl.png"/>
            <div class="logo-desc">
              <em>Logo en hommage à NoLife, affiché du 2 au 9 avril.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/IZg-Vpm8k3wwDtYAoTs-hg7YDEU=/0x140/https://radiobrony.fr/img/logos/RBLogo-Ra1nbowCrasH.png"/>
            <div class="logo-desc">
              <em>Logo en hommage à Ra1nbowCrasH.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/NCMzPIf-JZ-XTELTlr7J2rrmpzQ=/0x140/https://radiobrony.fr/img/logos/RBLogo-daftpunk.png"/>
            <div class="logo-desc">
              <em>Logo en hommage à la séparation des Daft Punk.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/znJBw0fwWlxojuoDq0yqhgag1ZA=/0x140/https://radiobrony.fr/img/logos/RBLogo-mask.png"/>
            <div class="logo-desc">
              <em>Logo durant les périodes fortes du COVID-19.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/B-Gj3c-WpDcX8GgCLUgxw85XJwA=/0x140/https://radiobrony.fr/img/logos/RBLogo-Votez.png"/>
            <div class="logo-desc">
              <em>Logo durant les élections françaises.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/o0YfZm-u3DB8FllCl-xf7SQu0eE=/0x140/https://radiobrony.fr/img/logos/RBLogo-bw-2018.png"/>
            <div class="logo-desc">
              <em>Logo de nouvelle année 2018.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/ylfksEwZhdV4lYrqOwPUtMI5eUs=/0x140/https://radiobrony.fr/img/logos/RBLogo-2019.png"/>
            <div class="logo-desc">
              <em>Logo de nouvelle année 2019.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/UT23mKSo7PRYwo8KvU_03pDjnX4=/0x140/https://radiobrony.fr/img/logos/RBLogo-bw-2020.png"/>
            <div class="logo-desc">
              <em>Logo de nouvelle année 2020.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/5XJn2EN3OwF-Bs-eSbLQC0ZC2hI=/0x140/https://radiobrony.fr/img/logos/RBLogo-bw-2021.png"/>
            <div class="logo-desc">
              <em>Logo de nouvelle année 2021.</em>
            </div>
          </div>
          <div class="logo-el">
            <img src="https://t.radiobrony.fr/hDmU0IkY4wtPPAgq-eX50DivaPY=/0x140/https://radiobrony.fr/img/logos/RBLogo-bw-2022.png"/>
            <div class="logo-desc">
              <em>Logo de nouvelle année 2022.</em>
            </div>
          </div>
        </div>
      </details>
      <br/>
    </div>

    <hr />

    <div id="english">
      <strong>Where am I, why is everypony speakin' in fancy?</strong>
      <p>
        Hi and welcome to Radio Brony, a French webradio made by fan of ponies.
        We're airing pony music 24/7, and despite the few French news and shows we'll be broacasting now and then, you're very welcome to stay and listen!
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'faq',
  mounted () {
    document.title = 'Questions fréquement posées (FAQ) | Radio Brony'
  }
}
</script>

<style lang="scss">
.faq {
  p {
    white-space: pre-line;
  }

  table {
    td {
      padding-right: 0.5em;
    }

    code {
      line-break: anywhere;
    }
  }

  .logo-list {
    .logo-el {
      align-items: center;
      border-bottom: 1px solid gray;
      display: flex;

      img {
        width: auto;
      }
    }
  }

  @media (max-width: 719px) {
    .logo-list {
      .logo-el {
        flex-direction: column;
        padding-bottom: 5px;
        text-align: center;

        img {
          margin-bottom: 5px;
        }
      }
    }
  }
}
</style>
