<template>
  <div class="home">
    <div class="cols links">
      <div class="sources">
        <span>Nous écouter partout :</span><br/>
        <a class="btn external" download="radiobrony.m3u"
           href="/radiobrony.m3u">
          <music-circle-icon decorative title=""/>
          Lecteur externe
        </a>
        <a class="btn browsers"
           target="_blank" rel="noopener noreferrer"
           href="https://hoofsounds.little.my/">
          <googlechrome-icon class="simple-icons" size="1x"/>
          <firefoxbrowser-icon class="simple-icons" size="1x"/>
          Extension
        </a>
        <span class="btn popup" @click="openPopup">
          <window-restore-icon decorative title=""/>
          Popup
        </span>
      </div>
      <div class="social">
        <span>Nous suivre et nous rejoindre :</span><br/>
        <a class="btn twitter"
           target="_blank" rel="me noopener noreferrer"
           href="https://twitter.com/RadioBrony">
          <twitter-icon class="simple-icons" size="1x"/>
          Twitter</a>
        <a class="btn mastodon"
           target="_blank" rel="me noopener noreferrer"
           href="https://equestria.social/@RadioBrony">
          <mastodon-icon class="simple-icons" size="1x"/>
          Mastodon</a>
        <a class="btn facebook"
           target="_blank" rel="me noopener noreferrer"
           href="https://www.facebook.com/radiobrony/">
          <facebook-icon class="simple-icons" size="1x"/>
          Facebook</a>
        <a class="btn lastfm"
           target="_blank" rel="me noopener noreferrer"
           href="https://www.last.fm/user/RadioBrony">
          <lastdotfm-icon class="simple-icons" size="1x"/>
          Last.fm</a>
        <a class="btn discord"
           target="_blank" rel="noopener noreferrer"
           href="http://discord.gg/MdhuDym">
          <discord-icon class="simple-icons" size="1x"/>
          Discord</a>
        <a class="btn twitch"
           target="_blank" rel="me noopener noreferrer"
           href="https://twitch.tv/radiobronyfr">
          <twitch-icon class="simple-icons" size="1x"/>
          Twitch</a>
        <a class="btn youtube"
           target="_blank" rel="me noopener noreferrer"
           href="https://www.youtube.com/user/RadioBronyFR">
          <youtube-icon class="simple-icons" size="1x"/>
          YouTube</a>
      </div>
    </div>

    <!--
    <h3><star-circle-icon decorative title=""/> Événement</h3>
    <gdq event-name="'AGDQ2023'" chartiy-name"'the Prevent Cancer Foundation'" />
    -->

    <h3><microphone-icon decorative title=""/> Dernier podcast</h3>
    <div v-if="lastEp" class="latest">
      <router-link
        class="route-link"
        :to="{ name: 'podcast-episode', params: { show: lastEp.showSlug, se: lastEp.season, ep: lastEp.episode } }">
        <div class="episode">
          <img
            class="cover"
            loading="lazy"
            :alt="lastEp.title"
            :srcset="`${lastEp.cover['90']},
                      ${lastEp.cover['180']} 2x,
                      ${lastEp.cover['270']} 3x`"
            :src="lastEp.cover['270']"/>
          <div class="text">
            <h4>{{ lastEp.title }}</h4>
            <span v-if="lastEp.author">Présenté par {{ lastEp.author }}</span>
            <blockquote v-if="lastEp.subtitle" v-html="lastEp.subtitle"></blockquote>
            <span class="details">
              <span>Saison {{ lastEp.season }} - Episode {{ lastEp.episode }}</span>
              <span v-if="lastEp.duration"> - Durée : {{ parseDuration(lastEp.duration) }}</span><br/>
              <span v-if="lastEp.recDate">Enregistré le {{ parseDateTime(lastEp.recDate) }}<br/></span>
              <span>Paru le {{ parseDateTime(lastEp.pubDate) }}</span>
            </span>
          </div>
        </div>
      </router-link>
    </div>

    <h3><twitter-icon class="simple-icons" size="1x"/> Tweets</h3>
    <home-timeline />

    <h3><calendar-icon decorative title=""/> Prochaines émissions</h3>
    <home-events />

    <h3><star-circle-icon decorative title=""/> Recommendations</h3>
    <home-reco />
  </div>
</template>

<script>
// Deps
import { DateTime, Duration } from 'luxon'

// Components
import HomeEvents from '@/components/HomeEvents.vue'
import HomeReco from '@/components/HomeReco.vue'
import HomeTimeline from '@/components/HomeTimeline.vue'
// import Gdq from '@/components/Gdq.vue'
// import MarioMarathon from '@/components/MarioMarathon.vue'
// import Zevent from '@/components/Zevent.vue'
// import Kickstarter from '@/components/Kickstarter.vue'
// import Ulule from '@/components/Ulule.vue'

// Icons
import {
  DiscordIcon,
  FacebookIcon,
  FirefoxbrowserIcon,
  GooglechromeIcon,
  LastdotfmIcon,
  MastodonIcon,
  TwitchIcon,
  TwitterIcon,
  YoutubeIcon
} from 'vue3-simple-icons'
import CalendarIcon from '@mkody/vue-material-design-icons/Calendar.vue'
import MicrophoneIcon from '@mkody/vue-material-design-icons/Microphone.vue'
import MusicCircleIcon from '@mkody/vue-material-design-icons/MusicCircle.vue'
import StarCircleIcon from '@mkody/vue-material-design-icons/StarCircle.vue'
import WindowRestoreIcon from '@mkody/vue-material-design-icons/WindowRestore.vue'

export default {
  name: 'home',
  components: {
    HomeEvents,
    HomeReco,
    HomeTimeline,
    // Gdq,
    // MarioMarathon,
    // Zevent,
    // Kickstarter,
    // Ulule,
    CalendarIcon,
    DiscordIcon,
    FacebookIcon,
    FirefoxbrowserIcon,
    GooglechromeIcon,
    LastdotfmIcon,
    MastodonIcon,
    MicrophoneIcon,
    MusicCircleIcon,
    StarCircleIcon,
    TwitchIcon,
    TwitterIcon,
    WindowRestoreIcon,
    YoutubeIcon
  },
  data () {
    return {
      lastEp: null
    }
  },
  mounted () {
    document.title = 'Radio Brony'

    fetch('https://pod.radiobrony.fr/api/latest')
      .then(resp => {
        return resp.json()
      })
      .then(json => {
        this.lastEp = json.latest[0].episode
        this.lastEp.showSlug = json.latest[0].show.slug
      })
  },
  methods: {
    openPopup () {
      window.open(
        'https://embed.radiobrony.fr',
        'PlayerRB',
        'menubar=no, scrollbars=no, width=720, height=200'
      )
    },
    parseDateTime (str) {
      const dt = DateTime.fromSQL(str, { zone: 'Europe/Paris' })
      return dt.setLocale('fr').toLocaleString(DateTime.DATETIME_MED)
    },
    parseDuration (sec) {
      return Duration.fromObject({ seconds: sec }).toFormat('hh:mm:ss')
    }
  }
}
</script>

<style lang="scss">
.home {
  h3 {
    margin: 30px 0 10px;
  }

  .btn {
    margin: 3px 2px 0 0;
  }

  .latest {
    background-color: #ffffff;

    .episode {
      border: 1px solid #808080;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      cursor: pointer;
      display: flex;
      margin: 10px 0;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      .cover {
        height: 90px;
        min-height: 90px;
        min-width: 90px;
        width: 90px;
      }

      .text {
        padding: 15px;

        h4 {
          margin: 0;
        }

        blockquote {
          margin: 10px 0;
          border-left: 3px gray solid;
          padding: 5px 10px;
        }
      }
    }
  }

  .links {
    margin-top: 20px;

    .social,
    .sources {
      flex: 1;
      padding: 5px;

      & > span {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  .cols {
    align-items: flex-start;
    display: flex;
  }

  @media (max-width: 719px) {
    .links {
      flex-direction: column;
    }
  }
}
</style>
