<template>
  <div class="live">
    <h2>Live</h2>
    <div class="contents" />
  </div>
</template>

<script>
// import Crate from '@widgetbot/crate/umd/crate.js'
import { DiffDOM } from 'diff-dom'

const dd = new DiffDOM()
let liveDiv

export default {
  name: 'live',
  computed: {
    liveHTML () {
      return this.$store.state.live.html
    }
  },
  watch: {
    liveHTML (newVal) {
      const future = document.createElement('div')
      future.className = 'contents'
      future.innerHTML = newVal

      const diff = dd.diff(liveDiv, future)
      dd.apply(liveDiv, diff)

      setTimeout(_ => {
        document.querySelectorAll('iframe[id^="tweet_"]').forEach(el => {
          el.contentWindow.postMessage({ element: el.id, query: 'height' }, 'https://twitframe.com')
        })
      }, 500)

      if ('twttr' in window && 'widgets' in window.twttr) {
        window.twttr.widgets.load(document.querySelector('.live .contents'))
      }
    }
  },
  mounted () {
    document.title = 'Live | Radio Brony'
    liveDiv = this.$el.querySelector('.live .contents')
    liveDiv.innerHTML = this.liveHTML

    setTimeout(_ => {
      document.querySelectorAll('iframe[id^="tweet_"]').forEach(el => {
        el.contentWindow.postMessage({ element: el.id, query: 'height' }, 'https://twitframe.com')
      })

      if ('twttr' in window && 'widgets' in window.twttr) {
        window.twttr.widgets.load(document.querySelector('.live .contents'))
      }
    }, 500)

    /*
    if (this.$parent.crate === null) {
      this.$parent.crate = new Crate({
        server: '133295540938080256',
        channel: '444996492994936853',
        shard: 'https://cl3.widgetbot.io',
        defer: true
      })
      setTimeout(_ => {
        this.$parent.crate.notify({
          content: 'Viendez discuter sur notre Discord !',
          timeout: 5000,
          avatar: 'https://radiobrony.fr/img/icons/bw-off.png'
        })
      }, 3000)
    }
    */
  }
}
</script>

<style lang="scss">
.live {
  .contents {
    img {
      max-width: 100%;

      &:not(.full) {
        max-height: 250px;
      }
    }

    ul,
    ol {
      padding: 0 1em;

      li {
        margin: 5px 15px;
      }
    }

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      // padding-top: 10px;
      height: 0;

      video,
      object,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .twitter-tweet {
      margin-left: auto;
      margin-right: auto;
    }

    // Emoticons from live editor
    .fr-emoticon {
      background-repeat: no-repeat!important;
      display: inline-block;
      font-size: inherit;

      line-height: 1;
      margin: -0.1em 0.1em 0.1em;
      vertical-align: middle;

      height: 1em;
      width: 1em;
      min-height: 20px;
      min-width: 20px;
    }
  }
}
</style>
