<template>
  <div class="notfound">
    <h2>Page non trouvée !</h2>
    <img src="@/assets/derpy.gif">
    <p>
      <i>Ce ne sont pas ces poneys là que vous recherchez.</i><br>
      Utilisez notre menu de navigation pour revenir sur le droit chemin !
    </p>
  </div>
</template>

<script>
export default {
  name: 'notfound',
  mounted () {
    document.title = 'Page non trouvée ? | Radio Brony'
  }
}
</script>

<style lang="scss" scoped>
  .notfound {
    text-align: center;
  }
</style>
