<template>
  <div class="privacy">
    <h2>Politique de confidentialité</h2>

    <div>
      <em><small>Mise à jour le 17 octobre 2022.</small></em>
      <br/>&nbsp;
    </div>

    <div>
      <strong>
        Comme tout site sur Internet, des informations vous concernant sont transmises et peuvent être conservés.<br/>
        Voici notre politique sur la matière.
      </strong>
      <p>
        Pour le bon fonctionnement du site, nous récupérons quelques données lors de votre visite et stockons des informations dans votre navigateur.
      </p>
      <ul>
        <li>
          Nous récupérons dans des journaux (logs) votre adresse IP publique, l'heure et le chemin des requêtes que vous faites à notre serveur. Dans notre cas, cela nous permet de pouvoir surveiller et filtrer tout attaque sur nos services.<br/>
          Ces traces sont supprimées automatiquement et périodiquement par le serveur et nous y jetons un œil uniquement en cas de problèmes.
        </li>
        <li>
          Nous récupérons de manière additionnelle les visites des pages et la durée des sessions à des fins de statistiques sur un système hébergé par nos soin - aucune information est envoyée à des tiers.<br/>
          Aucun cookie ou identifiant local n'est enregistré pour pouvoir vous pister à travers les sessions et les différents sites.<br/>
          Sont transmis et stockés : votre adresse IP publique, le nom et la version de votre naviguateur ainsi que votre système d'exploitation, un identifiant aléatoire pour la session, l'addresse de la page actuelle et la source de votre visite.
        </li>
        <li>
          Dans le cas où une fonctionnalité plante sur le site, un rapport de bug est automatiquement envoyé.<br/>
          Ce rapport contient : le message d'erreur, vos dernières actions (par ex. si le bug est provoqué par le clic d'un bouton), le nom et la version de votre navigateur ainsi que votre système d'exploitation.<br/>
          Nous utilisons tout ceci pour pouvoir cerner et corriger les divers problèmes du site.
        </li>
        <li>
          Nous utilisons éventuellement les cookies pour enregister si vous utilisez le site avec un thème clair ou sombre.<br/>
          Ceci permet d'informer le serveur de vous charger un thème en priorité mais ne peut pas être utilisé pour du pistage.<br/>
        </li>
        <li>
          Et enfin, les données stockés dans votre navigateur à travers le stockage local - et non pas des cookies - sont vos préférences sur le site, par exemple le niveau du volume sur le lecteur audio en direct.
        </li>
      </ul>
    </div>

    <div>
      <strong>Données tierces</strong>
      <p>
        Dans le but de vous afficher des informations supplémentaires, nous intégrons dans nos articles, podcasts et sur la page de live divers lecteurs et contenus (YouTube, Twitter, ...).<br/>
        Radio Brony ne peut pas entièrement contrôler et configurer les informations transmises sur ces services, les informations collectés sont dépendants de vos paramètres de confidentialité configurés sur lesdits services.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'privacy',
  mounted () {
    document.title = 'Politique de confidentialité | Radio Brony'
  }
}
</script>
