<template>
  <div class="podcast-list">
    <h2>
      Podcasts
      <div v-if="!shows" class="donut"></div>
    </h2>

    <p>
      Voici les archives de nos programmes !<br/>
      <small>Veuillez noter certains anciens épisodes n'ont pas de description.</small>
    </p>

    <transition name="fade">
      <div v-if="shows" class="all-shows">
        <router-link
          v-for="show in shows"
          :key="show.slug"
          class="route-link"
          :to="{ name: 'podcast-show', params: { show: show.slug } }">
          <div class="show">
            <img
              class="cover"
              loading="lazy"
              :alt="show.titre"
              :srcset="`${show.images['90']},
                        ${show.images['180']} 2x,
                        ${show.images['270']} 3x`"
              :src="show.images['270']"/>
            <div class="text">
              <h4>{{ show.title }}</h4>
              {{ show.subtitle }}
              <span v-if="show.author">Présenté par {{ show.author }}</span>
            </div>
          </div>
        </router-link>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'podcast-list',
  data () {
    return {
      shows: null
    }
  },
  mounted () {
    document.title = 'Podcasts | Radio Brony'

    fetch('https://pod.radiobrony.fr/api/shows')
      .then(resp => {
        return resp.json()
      })
      .then(json => {
        this.shows = json.shows
      })
  }
}
</script>

<style lang="scss">
.podcast-list {
  .show {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    min-height: 90px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .cover {
      height: 90px;
      min-height: 90px;
      min-width: 90px;
      width: 90px;
    }

    .text {
      padding: 15px;

      h4 {
        margin: 0;
      }
    }
  }
}
</style>
