<template>
  <div class="podcast-show">
    <h2>
      Podcasts
      <div v-if="!show" class="donut"></div>
    </h2>

    <NotFound v-if="notFound"/>

    <transition name="fade">
      <div v-if="show">
        <blurred-banner :cover="show.images">
          <h3>{{ show.title }}</h3>
          <span>{{ show.description }}</span>
        </blurred-banner>

        <div class="subscribe"></div>

        <div v-if="show.ext">
          Cette émission est à retrouver sur une source externe !<br/>
          Cliquez ici : <a :href="show.ext">{{ show.ext }}</a>
        </div>
        <div v-else class="all-eps">
          <router-link
            v-for="ep in eps"
            :key="ep.id"
            class="route-link"
            :to="{ name: 'podcast-episode', params: { show: show.slug, se: ep.season, ep: ep.episode } }">
            <div class="episode">
              <img
                v-if="ep.image !== show.images.cover"
                class="cover"
                loading="lazy"
                :alt="ep.title"
                :srcset="`${ep.cover['90']},
                          ${ep.cover['180']} 2x,
                          ${ep.cover['270']} 3x`"
                :src="ep.cover['270']"/>
              <div class="text">
                <h4>{{ ep.title }}</h4>
                <span v-if="ep.author">Présenté par {{ ep.author }}</span><br/>
                <blockquote v-if="ep.subtitle" v-html="ep.subtitle"></blockquote>
                <span class="details">
                  <span>Saison {{ ep.season }} - Episode {{ ep.episode }}</span>
                  <span v-if="ep.duration"> - Durée : {{ parseDuration(ep.duration) }}</span><br/>
                  <span v-if="ep.recDate">Enregistré le {{ parseDateTime(ep.recDate) }}<br/></span>
                  <span>Paru le {{ parseDateTime(ep.pubDate) }}</span>
                </span>
              </div>
            </div>
          </router-link>
        </div>

        <div v-if="hasMore" class="loadMore">
          <a class="btn" @click="loadMore">
            <loading-icon v-if="loadingMore" decorative title=""/>
            <chevron-down-icon v-else decorative title=""/>
            &nbsp;Charger plus d'épisodes
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
// View
import NotFound from '@/views/NotFound.vue'
// Deps
import { DateTime, Duration } from 'luxon'
// Components
import BlurredBanner from '@/components/BlurredBanner.vue'
import ChevronDownIcon from '@mkody/vue-material-design-icons/ChevronDown.vue'
import LoadingIcon from '@mkody/vue-material-design-icons/Loading.vue'

export default {
  name: 'podcast-show',
  components: {
    BlurredBanner,
    ChevronDownIcon,
    LoadingIcon,
    NotFound
  },
  data () {
    return {
      show: null,
      eps: [],
      notFound: false,
      page: 1,
      hasMore: false,
      loadingMore: false
    }
  },
  mounted () {
    document.title = 'Podcasts | Radio Brony'

    fetch('https://pod.radiobrony.fr/api/show/' +
           this.$route.params.show + '?page=1')
      .then(resp => {
        return resp.json()
      })
      .then(json => {
        if (json.error && json.error.code === 404 && !json.show) {
          this.notFound = true
        } else {
          document.title = json.show.title + ' | Podcasts | Radio Brony'
          this.show = json.show
          this.eps = json.episodes
          // Show button to load more if we still have pages
          this.hasMore = json._meta.page < json._meta.maxPage

          window.podcastData = {
            title: json.show.title,
            subtitle: 'Présenté par ' + json.show.author,
            description: json.show.description,
            cover: json.show.images.cover,
            feeds: [
              {
                type: 'audio',
                format: 'mp3',
                url: json.show.feed,
                'directory-url-itunes': json.show.itunes
              }
            ]
          }

          const subBtn = document.createElement('script')
          subBtn.setAttribute('src', 'https://cdn.podlove.org/subscribe-button/javascripts/app.js')
          subBtn.setAttribute('data-color', '#469cd1')
          subBtn.setAttribute('data-json-data', 'podcastData')
          subBtn.setAttribute('data-language', 'fr')
          subBtn.setAttribute('data-size', 'medium')
          subBtn.setAttribute('class', 'podlove-subscribe-button')
          setTimeout(_ => {
            this.$el.querySelector('.subscribe').innerHTML = ''
            this.$el.querySelector('.subscribe').appendChild(subBtn)
            setTimeout(_ => {
              this.$el.querySelector('.subscribe').style.opacity = '100'
            }, 1000)
          }, 100)
        }
      })
  },
  methods: {
    parseDateTime (str) {
      const dt = DateTime.fromSQL(str, { zone: 'Europe/Paris' })
      return dt.setLocale('fr').toLocaleString(DateTime.DATETIME_MED)
    },
    parseDuration (sec) {
      return Duration.fromObject({ seconds: sec }).toFormat('hh:mm:ss')
    },
    loadMore () {
      // Stop if we're already loading
      if (this.loadingMore) return

      // Set status and increase page count
      this.loadingMore = true
      this.page++

      fetch('https://pod.radiobrony.fr/api/show/' +
            this.$route.params.show + '?page=' + this.page)
        .then(resp => {
          return resp.json()
        })
        .then(json => {
          if (json.error) {
            console.error('Could not load more episodes.', json)
          } else {
            // Add the fetched episodes to the array
            this.eps = this.eps.concat(json.episodes)
            // Show button if we still have pages
            this.hasMore = json._meta.page < json._meta.maxPage
            // Make the button work again
            this.loadingMore = false
          }
        })
    }
  }
}
</script>

<style lang="scss">
.podcast-show {
  .subscribe {
    height: 45px;
    opacity: 0;
    overflow: hidden;
    padding: 15px 0 0;
    text-align: center;
    transition: opacity .5s;
  }

  .episode {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    min-height: 90px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .cover {
      height: 90px;
      min-height: 90px;
      min-width: 90px;
      width: 90px;
    }

    .text {
      padding: 15px;

      h4 {
        margin: 0;
      }

      blockquote {
        margin: 10px 0;
        border-left: 3px gray solid;
        padding: 5px 10px;
      }
    }
  }

  .loadMore {
    text-align: center;
  }
}
</style>
