<template>
  <div class="podcast-episode">
    <h2>
      Podcasts /
      <router-link
        v-if="show"
        class="route-link"
        :to="{ name: 'podcast-show', params: { show: show.slug } }" >
        <span>{{ show.title }}</span>
      </router-link>
      <div v-if="!ep" class="donut"></div>
      <div class="subscribe"></div>
    </h2>

    <NotFound v-if="notfound"/>

    <transition name="fade">
      <div v-if="ep" class="h-entry">
        <blurred-banner :cover="ep.cover">
          <h3>{{ ep.title }}</h3>
          <span v-if="ep.author">Présenté par {{ ep.author }}</span>
          <span>Saison {{ ep.season }} - Episode {{ ep.episode }}</span>
          <span v-if="ep.recDate">Enregistré le {{ parseDateTime(ep.recDate) }}</span>
          <span>Paru le {{ parseDateTime(ep.pubDate) }}</span>
        </blurred-banner>

        <div class="player-container">
          <audio id="player" :src="ep.file" controls></audio>
        </div>

        <Shareon />

        <div v-if="ep.spoiler" class="spoilWarn">
          Cet épisode peut contenir des spoilers !
          <a class="btn" @click="toggleSpoiler">
            <eye-icon decorative title=""/>
            {{ spoiler ? `Afficher` : `Cacher` }}
          </a>
        </div>

        <div v-if="ep.description && ep.description !== emptyOld && !spoiler" class="description" v-html="parseTimestamps(ep.description)"></div>

        <Webmentions />
      </div>
    </transition>
  </div>
</template>

<script>
/* global MediaMetadata */
// View
import NotFound from '@/views/NotFound.vue'
// Deps
import { DateTime, Duration } from 'luxon'
import Plyr from 'plyr'
import 'plyr/dist/plyr.css'
// Components
import BlurredBanner from '@/components/BlurredBanner.vue'
import Shareon from '@/components/Shareon.vue'
import Webmentions from '@/components/Webmentions.vue'
// Icons
import EyeIcon from '@mkody/vue-material-design-icons/Eye.vue'

// Jump to timestamp function
window.jumpTo = (time) => { // eslint-disable-line no-unused-vars
  const count = (time.match(/:/g) || []).length
  const sTime = time.split(':')
  let seconds = 0

  if (count === 2) {
    // HH:mm:ss
    seconds = parseInt(sTime[0], 10) * 60 * 60 + parseInt(sTime[1], 10) * 60 + parseInt(sTime[2], 10)
  } else if (count === 1) {
    // mm:ss
    seconds = parseInt(sTime[0], 10) * 60 + parseInt(sTime[1], 10)
  }

  const player = document.querySelector('#player')
  player.currentTime = seconds
}

export default {
  name: 'podcast-episode',
  components: {
    BlurredBanner,
    Shareon,
    Webmentions,
    EyeIcon,
    NotFound
  },
  data () {
    return {
      emptyOld: '<p class="old-content"></p>',
      show: null,
      ep: null,
      spoiler: false,
      notfound: false,
      player: null,
      plyrConfig: {
        controls: [
          'rewind',
          'play',
          'fast-forward',
          'progress',
          'current-time',
          'mute',
          'volume',
          'settings',
          'airplay',
          'download'
        ],
        i18n: {
          restart: 'Relancer',
          rewind: 'Revenir de {seektime}s',
          play: 'Lecture',
          pause: 'Pause',
          fastForward: 'Avancer de {seektime}s',
          seek: 'Navigation',
          seekLabel: '{currentTime} de {duration}',
          played: 'Lu',
          buffered: 'Chargé',
          currentTime: 'Position',
          duration: 'Durée',
          volume: 'Volume',
          mute: 'Muet',
          unmute: 'Son',
          download: 'Télécharger',
          frameTitle: 'Lecteur pour {title}',
          settings: 'Paramètres',
          menuBack: 'Revenir au menu précédent',
          speed: 'Vitesse',
          normal: 'Normale',
          quality: 'Qualité',
          loop: 'Répétition',
          start: 'Début',
          end: 'Fin',
          all: 'Tous',
          reset: 'Remise à zéro',
          disabled: 'Désactivé',
          enabled: 'Activé'
        },
        invertTime: false,
        tooltips: {
          controls: true,
          seek: true
        },
        urls: {}
      }
    }
  },
  mounted () {
    fetch('https://pod.radiobrony.fr/api/show/' +
           this.$route.params.show + '/episode/' +
           this.$route.params.se + '/' +
           this.$route.params.ep)
      .then(resp => {
        return resp.json()
      })
      .then(json => {
        if (json.error && json.error.code === 404 && !json.show && !json.episode) {
          this.notfound = true
        } else {
          document.title = json.episode.title + ' | ' + json.show.title + ' | Radio Brony'
          this.show = json.show
          this.ep = json.episode
          this.spoiler = json.episode.spoiler
          this.plyrConfig.urls.download = json.episode.file.replace('dts.podtrac.com/redirect.mp3/', '')

          setTimeout(_ => {
            this.player = new Plyr('#player', this.plyrConfig)
            if (location.hash.substring(0, 3) === '#t=') {
              // Get our value and try to make sure we don't catch additional things too
              const time = location.hash.substring(3).split('&')
              window.jumpTo(time[0])
            }

            this.player.on('playing', this.setupMetadata)
            this.player.on('seeked', this.updatePositionState)
            this.player.on('pause', this.updatePositionState)

            document.addEventListener('live:play', _ => {
              this.player.pause()
            })

            if ('twttr' in window && 'widgets' in window.twttr) {
              window.twttr.widgets.load(document.querySelector('.podcast-episode .description'))
            }
          }, 100)

          setTimeout(_ => {
            document.querySelectorAll('iframe[id^="tweet_"]').forEach(el => {
              el.contentWindow.postMessage({ element: el.id, query: 'height' }, 'https://twitframe.com')
            })
          }, 3000)

          window.podcastData = {
            title: json.show.title,
            subtitle: 'Présenté par ' + json.show.author,
            description: json.show.description,
            cover: json.show.images.cover,
            feeds: [
              {
                type: 'audio',
                format: 'mp3',
                url: json.show.feed,
                'directory-url-itunes': json.show.itunes
              }
            ]
          }

          const subBtn = document.createElement('script')
          subBtn.setAttribute('src', 'https://cdn.podlove.org/subscribe-button/javascripts/app.js')
          subBtn.setAttribute('data-color', '#469cd1')
          subBtn.setAttribute('data-json-data', 'podcastData')
          subBtn.setAttribute('data-language', 'fr')
          subBtn.setAttribute('data-size', 'small')
          subBtn.setAttribute('data-format', 'square')
          subBtn.setAttribute('class', 'podlove-subscribe-button')
          setTimeout(_ => {
            this.$el.querySelector('.subscribe').innerHTML = ''
            this.$el.querySelector('.subscribe').appendChild(subBtn)
            setTimeout(_ => {
              this.$el.querySelector('.subscribe').style.opacity = '100'
            }, 1000)
          }, 100)
        }
      })
  },
  beforeUnmount () {
    this.player.destroy()
  },
  methods: {
    parseDateTime (str) {
      const dt = DateTime.fromSQL(str, { zone: 'Europe/Paris' })
      return dt.setLocale('fr').toLocaleString(DateTime.DATETIME_MED)
    },
    parseDuration (sec) {
      return Duration.fromObject({ seconds: sec }).toFormat('hh:mm:ss')
    },
    toggleSpoiler () {
      this.spoiler = !this.spoiler
    },
    parseTimestamps (content) {
      const regex = /\[(([0-9]{1,2}:)?[0-9]{2}:[0-9]{2})\]/gm
      const subst = '[<a class="time-jump" title="Sauter à $1" href="#t=$1" onclick="jumpTo(\'$1\')">$1</a>]'
      return content.replace(regex, subst)
    },
    // All those player* are for mediaSession
    playerPlay () {
      this.player.play()
    },
    playerPause () {
      this.player.pause()
    },
    playerSeekBackward (details) {
      this.player.rewind(details.seekOffset || 10)
    },
    playerSeekForward (details) {
      this.player.forward(details.seekOffset || 10)
    },
    playerSeekTo (details) {
      this.player.currentTime = details.seekTime
    },
    updatePositionState () {
      // Send current position and duration
      navigator.mediaSession.setPositionState({
        duration: this.player.duration || Infinity,
        playbackRate: this.player.speed || 1,
        position: this.player.currentTime || 0
      })
    },
    setupMetadata () {
      const startEvent = new Event('plyr:play')
      document.dispatchEvent(startEvent)

      try { // Apparently FF return true and then the code crashes
        if ('mediaSession' in navigator) {
          // Set our metadata
          navigator.mediaSession.metadata = new MediaMetadata({
            title: this.ep.title,
            artist: this.show.title,
            album: 'Saison ' + (this.ep.season ? this.ep.season : '1'),
            artwork: [
              { src: this.ep.cover['96'], sizes: '96x96', type: 'image/jpeg' },
              { src: this.ep.cover['128'], sizes: '128x128', type: 'image/jpeg' },
              { src: this.ep.cover['192'], sizes: '192x192', type: 'image/jpeg' },
              { src: this.ep.cover['256'], sizes: '256x256', type: 'image/jpeg' },
              { src: this.ep.cover['384'], sizes: '384x384', type: 'image/jpeg' },
              { src: this.ep.cover['512'], sizes: '512x512', type: 'image/jpeg' }
            ]
          })

          // Give browser access to our controls
          navigator.mediaSession.setActionHandler('play', this.playerPlay)
          navigator.mediaSession.setActionHandler('pause', this.playerPause)
          navigator.mediaSession.setActionHandler('seekbackward', this.playerSeekBackward)
          navigator.mediaSession.setActionHandler('seekforward', this.playerSeekForward)
          navigator.mediaSession.setActionHandler('seekto', this.playerSeekTo)

          this.updatePositionState()
        }
      } catch (_) {
        // Silently ignore
      }
    }
  }
}
</script>

<style lang="scss">
.podcast-episode {
  h2 {
    span {
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid black;
      }
    }

    .subscribe {
      display: inline-block;
      height: 32px;
      margin-left: 5px;
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s;
      vertical-align: middle;
      width: 32px;
    }
  }

  .player-container {
    clear: both;
    margin: 1rem -1px;
    position: sticky;
    top: 0px;
    width: calc(100% + 2px);
    z-index: 999;

    audio {
      display: none;
    }

    .plyr {
      --plyr-color-main: #F53B49;

      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      display: block;
      margin: 0 auto;
      width: 100%;
      z-index: 5;

      .plyr__time--current {
        min-width: 54px;
      }

      .plyr__time--duration {
        min-width: 61px;
      }

      .plyr__menu__container:after {
        border-top: var(--plyr-menu-arrow-size,4px) solid var(--plyr-menu-background, hsla(0, 0%, 100%, .9));
      }

      @media screen and (max-width: 500px) {
        .plyr__controls {
          justify-content: center;

          .plyr__controls__item:first-child {
            margin-right: 0;
          }

          .plyr__time {
            flex-grow: 1;
          }

          .plyr__volume {
            max-width: 32px !important;
            min-width: 32px !important;
          }

          .plyr__progress__container,
          .plyr__volume input[type=range] {
            display: none;
          }
        }
      }
    }
  }

  .spoilWarn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    padding: 15px 10px;

    .btn {
      vertical-align: baseline;
    }
  }

  .description {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1px 10px;

    img {
      max-width: 100%;

      &:not(.full) {
        max-height: 250px;
      }
    }

    ul,
    ol {
      padding: 0 1em;

      li {
        margin: 5px 15px;
      }
    }

    .time-jump {
      cursor: pointer;
      text-decoration: none;
    }

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      video,
      object,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .twitter-tweet {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
</style>
