<!--
  Usage: <blurred-banner :cover="[obj]">[content here]</blurred-banner>
-->
<template>
  <div class="blurred-banner">
    <div class="blurcontainer">
      <div
        class="blurbackground"
        :style="{ 'background-image': `url(${cover['970']})` }"></div>
    </div>
    <div class="details-content">
      <img
        class="cover"
        :srcset="`${cover['150']},
                  ${cover['300']} 2x,
                  ${cover['450']} 3x`"
        :src="cover['450']">
      <div class="details-text">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlurredBanner',
  props: {
    cover: Object
  }
}
</script>

<style lang="scss">
body.halloween {
  #app.dark-app {
    .blurred-banner {
      .details-content {
        .details-text {
          h3,
          span {
            color: #F84C09;
          }
        }
      }
    }
  }

  .blurred-banner {
    .details-content {
      .details-text {
        h3,
        span {
          background-color: rgba(247, 76, 8, 0.8);
          color: white;
        }
      }
    }
  }
}

.blurred-banner {
  .blurcontainer {
    height: 200px;
    overflow: hidden;

    .blurbackground {
      background-position: center;
      background-size: 125%;
      filter: blur(50px);
      height: 400px;
      margin: -95px -35px;
      position: relative;
      z-index: 1;
    }
  }

  .details-content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    height: 200px;
    justify-content: center;
    margin: -200px 25px 0 25px;
    overflow: hidden;

    .cover {
      height: 150px;
      margin-right: 25px;
      min-height: 150px;
      min-width: 150px;
      width: 150px;
      z-index: 2;
    }

    .details-text {
      align-content: center;
      align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      flex: 1;
      height: 200px;
      justify-content: center;
      overflow: hidden;

      h3,
      span {
        background-color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        font-size: 1.1em;
        margin: 0;
        overflow: hidden;
        padding: 2px 5px;
        z-index: 2;
      }

      h3 {
        font-size: 1.25em;
      }
    }
  }

  @media (max-width: 719px) {
    .blurcontainer {
      display: none;
    }

    .details-content {
      height: auto;
      margin: 0;

      .cover {
        display: none;
      }

      .details-text {
        height: auto;

        h3,
        span {
          background-color: transparent !important;
          padding: 2px 0;
        }
      }
    }
  }
}

#app.dark-app {
  .blurred-banner {
    .details-content .details-text {
      h3,
      span {
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
      }
    }
  }
}
</style>
