<template>
  <div class="embed-iframely" v-html="html"/>
</template>

<script>
export default {
  name: 'EmbedIframely',
  props: {
    url: String
  },
  data () {
    return {
      html: null
    }
  },
  mounted () {
    console.log('iframely', this.url)
    if (this.url) {
      fetch(`https://if.radiobrony.fr/iframely?url=${this.url}`)
        .then(r => r.json())
        .then(j => {
          this.html = j.html
        })
    }
  }
}
</script>

<style lang="scss">

</style>
