<!--
  Usage: <gdq :event-name="'[event slug]'" :chartiy-name"'[full name]'" />
-->
<template>
  <div class="gdq">
    <div v-if="!tracker" class="loading">
      <span class="donut"></span><br/>
      Chargement...
    </div>

    <div v-else-if="error">
      <i>Oups, un problème. {{ error }}</i>
    </div>

    <div
      v-else
      class="project">
      <div>
        <div class="image">
        </div>
      </div>
      <div class="details">
        <p>
          <b>{{ tracker.name }}</b> <small>benefiting {{ charityName }}</small><br>
          <template v-if="notStarted">
            L'événement commence {{ timeLeft(notStarted * 1000, true) }} !
          </template>
          <template v-else>
            En cours : {{ run.title }} ({{ run.console }})<br>
            {{ run.type }} (<clock-icon decorative title=""/> {{ runLength(run.length) }})<br>
            Par {{ run.runner }}
          </template>
        </p>
        <p v-if="!notStarted">
          Montant récolté : {{ tracker.total.replace(',', " ").replace(')', ' dons)') }}<br>
          {{ timeLeft(finaleTS * 1000) }} !
        </p>
      </div>
      <div class="event-btns">
        <a
          href="https://www.twitch.tv/gamesdonequick"
          class="event-btn"
          target="_blank">
          <twitch-icon class="simple-icons" size="0.8x"/>&nbsp;
          Voir le stream</a>
        <a
          v-if="!notStarted"
          href="https://gamesdonequick.com/donate"
          class="event-btn"
          target="_blank">
          <hand-heart-icon decorative title=""/>&nbsp;
          Faire un don</a>
      </div>
    </div>
  </div>
</template>

<script>
import { Duration } from 'luxon'
import { TwitchIcon } from 'vue3-simple-icons'
import ClockIcon from '@mkody/vue-material-design-icons/Clock.vue'
import HandHeartIcon from '@mkody/vue-material-design-icons/HandHeart.vue'

export default {
  name: 'Gdq',
  components: {
    ClockIcon,
    HandHeartIcon,
    TwitchIcon
  },
  props: {
    eventName: String,
    charityName: String
  },
  data () {
    return {
      tracker: null,
      run: {
        title: 'Chargement des infos',
        console: '...',
        type: 'any%',
        length: '0:00:00',
        runner: 'Radio Brony'
      },
      finaleTS: null,
      notStarted: null,
      error: null
    }
  },
  mounted () {
    this.loadData()
    this.interval = setInterval(this.loadData, 5 * 60 * 1000)
  },
  beforeUnmount () {
    clearInterval(this.interval)
  },
  methods: {
    loadData () {
      fetch('https://radiobrony.fr/gdqsched.json?ts=' + Date.now())
        .then(r => r.json())
        .then(j => {
          const runs = Object.entries(j)
          if (Date.now() / 1000 < parseInt(runs[0][0])) {
            this.run = runs[0][1]
            this.notStarted = parseInt(runs[0][0])
          } else {
            this.notStarted = null
            for (const [k, v] of runs) {
              if (Date.now() / 1000 > parseInt(k)) {
                this.run = v
              }
            }
          }
          const k = Object.keys(j)
          this.finaleTS = k[k.length - 1]
        })
        .catch(err => {
          console.log('Can\'t fetch GDQ Schedule.', err)
          this.error = 'Impossible d\'afficher les informations pour l\'instant !'
        })

      fetch('https://gamesdonequick.com/tracker/event/' + this.eventName)
        .then(r => r.text())
        .then(t => {
          const h = (new DOMParser()).parseFromString(t, 'text/html')
          const s = h.querySelector('.container-fluid h2.text-center').innerHTML.match(/[^\r\n]+/g)
          this.tracker = {
            name: s[0],
            total: s[4].replace('—', '')
          }
        })
        .catch(err => {
          console.log('Can\'t fetch GDQ Schedule.', err)
          this.error = 'Impossible de récupérer les informations pour l\'instant !'
        })
    },
    runLength (length) {
      return length.split(':', 2).join('h')
    },
    timeLeft (date, starting) {
      const dur = date - Date.now()
      let prefix = 'Il reste '
      if (starting) prefix = 'dans '

      if (dur < 60 * 1000) { // Less than a minute (or ended)
        if (starting) return 'maintenant'
        return 'L\'événement est terminé'
      } else if (dur < 2 * 60 * 60 * 1000) { // Less than 2 hours
        const mTime = Math.ceil(Duration.fromMillis(dur).as('minutes'))
        return prefix + mTime + ' minute' + (mTime === 1 ? '' : 's')
      } else if (dur < 3 * 24 * 60 * 60 * 1000) { // Less than 3 days
        const hTime = Math.ceil(Duration.fromMillis(dur).as('hours'))
        return prefix + hTime + ' heure' + (hTime === 1 ? '' : 's')
      } else {
        const dTime = Math.ceil(Duration.fromMillis(dur).as('days'))
        return prefix + dTime + ' jour' + (dTime === 1 ? '' : 's')
      }
    }
  }
}
</script>

<style lang="scss">
.gdq {
  .loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }

  .project {
    align-items: center;
    background-image: url('https://gamesdonequick.com/static/res/img/gdqsection.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .material-design-icon {
      height: 0.8em;
      width: 0.8em;

      & > .material-design-icon__svg {
        height: 0.9em;
        width: 0.9em;
      }
    }

    .image {
      background-image: url('https://gamesdonequick.com/static/res/img/gdqlogo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      margin: 0 30px;
      width: 100px;
    }

    .details {
      background-color: rgba(255, 255, 255, .8);
      color: black;
      flex-grow: 1;
      padding: 0 15px;
    }

    .event-btns {
      text-align: center;

      .event-btn {
        background: linear-gradient(#00a6f0,#009fe6);
        box-shadow: 0 3px 0 #00608b;
        box-sizing: border-box;
        color: white;
        display: block;
        font-weight: bold;
        margin: 10px 30px;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background: linear-gradient(#00b0ff, #00a9f5);
        }

        &:active {
            background: #00608b;
        }
      }
    }
  }

  @media screen and (min-width: 720px) {
    .project {
      flex-direction: row;
      padding: 15px 0;
    }
  }
}

#app.dark-app {
  .gdq .project {
    .details {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}
</style>
