<template>
  <div class="home-reco">
    <p>
      On vous recommande ces podcasts, hors de notre station.
    </p>
    <div
      v-for="p in pods"
      :key="p.title"
      class="reco-fiche">
      <div class="reco-image">
        <img
          :srcset="`${p.img_sizes.small},
                    ${p.img_sizes.medium} 2x,
                    ${p.img_sizes.large} 3x`"
          :src="p.img_sizes.large">
      </div>
      <div class="reco-details">
        <b>{{ p.title }}</b>
        <div class="reco-descript">{{ p.descript }}</div>
        <div class="reco-links">
          <a
            v-for="l in p.links"
            :key="l.link"
            :class="[ 'btn', l.style ]"
            target="_blank"
            rel="noopener noreferrer"
            :href="l.link">
            {{ l.title }}</a>&nbsp;
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomeReco',
  data () {
    return {
      pods: [
        {
          title: 'Yamanote',
          descript: 'Marie Palot nous emmène dans la Yamanote Line, la ligne de métro la plus connue de Tokyo. À l\'instar de cette loupe ferroviaire, nous ferons un 360 degrés autour de la culture manga animé.',
          img: 'https://cdn.radiofrance.fr/s3/cruiser-production/2021/12/4b462dd3-5a9b-4689-b2a3-3cd4459de7c9/1400x1400_rf_omm_0000032581_ite.jpg',
          img_sizes: {
            small: 'https://t.radiobrony.fr/crrFadhwWgSuhhX4K0IbAwDVxK4=/150x0/https://cdn.radiofrance.fr/s3/cruiser-production/2021/12/4b462dd3-5a9b-4689-b2a3-3cd4459de7c9/1400x1400_rf_omm_0000032581_ite.jpg',
            medium: 'https://t.radiobrony.fr/8gzZ4oYHVKX57Fpj884L2bE1gX4=/300x0/https://cdn.radiofrance.fr/s3/cruiser-production/2021/12/4b462dd3-5a9b-4689-b2a3-3cd4459de7c9/1400x1400_rf_omm_0000032581_ite.jpg',
            large: 'https://t.radiobrony.fr/KQ2uP0Ffu-4F9dgboZMdy1gp3sQ=/450x0/https://cdn.radiofrance.fr/s3/cruiser-production/2021/12/4b462dd3-5a9b-4689-b2a3-3cd4459de7c9/1400x1400_rf_omm_0000032581_ite.jpg'
          },
          links: [
            {
              title: 'Site',
              link: 'https://www.franceinter.fr/emissions/yamanote'
            },
            {
              title: 'RSS',
              link: 'https://radiofrance-podcast.net/podcast09/rss_22941.xml',
              style: 'external'
            },
            {
              title: 'App Radio France',
              link: 'https://www.radiofrance.com/application-mobile-radio-france',
              style: 'browsers'
            }
          ]
        },
        {
          title: 'Canapé Game',
          descript: 'C’est un podcast avec des gens sympas qui veulent parler de leur PASSION, à savoir le jeu vidéo et la culture pop japonaise.',
          img: 'https://uploads.podcloud.fr/uploads/covers/2e56/32e1/5fb9/39b7/3e9a/6913/5991/9416/0c92/870c/2e5632e15fb939b73e9a6913599194160c92870c.jpg',
          img_sizes: {
            small: 'https://t.radiobrony.fr/XiTJEMbAQrPx3f0Ib1KLFuEgW1s=/150x0/https://uploads.podcloud.fr/uploads/covers/2e56/32e1/5fb9/39b7/3e9a/6913/5991/9416/0c92/870c/2e5632e15fb939b73e9a6913599194160c92870c.jpg',
            medium: 'https://t.radiobrony.fr/u_AeAnK3PAS_GYUT6mPlxM_9X8M=/300x0/https://uploads.podcloud.fr/uploads/covers/2e56/32e1/5fb9/39b7/3e9a/6913/5991/9416/0c92/870c/2e5632e15fb939b73e9a6913599194160c92870c.jpg',
            large: 'https://t.radiobrony.fr/gCeDfh5Dy1085XdvOs8kae0qz0c=/450x0/https://uploads.podcloud.fr/uploads/covers/2e56/32e1/5fb9/39b7/3e9a/6913/5991/9416/0c92/870c/2e5632e15fb939b73e9a6913599194160c92870c.jpg'
          },
          links: [
            {
              title: 'Site',
              link: 'https://canape-game.lepodcast.fr/',
              style: ''
            },
            {
              title: 'RSS',
              link: 'https://canape-game.lepodcast.fr/rss',
              style: 'external'
            },
            {
              title: 'Twitter',
              link: 'https://twitter.com/canape_game',
              style: 'twitter'
            },
            {
              title: 'Twitch',
              link: 'https://www.twitch.tv/canapegame',
              style: 'twitch'
            }
          ]
        },
        {
          title: 'Code Source',
          descript: 'Des histoires dans l’actualité racontées par les journalistes de la rédaction du Parisien et par celles et ceux qui les ont vécues directement.',
          img: 'https://acast-media.s3.eu-west-1.amazonaws.com/assets/9f905938-baf3-4214-bd26-65999b4899d7/1556746793291-b3459197845111fd3df52850e3cfec18.jpeg',
          img_sizes: {
            small: 'https://t.radiobrony.fr/fRFNuaffDi5soWoFY9WvIt7Hcxk=/150x0/https://acast-media.s3.eu-west-1.amazonaws.com/assets/9f905938-baf3-4214-bd26-65999b4899d7/1556746793291-b3459197845111fd3df52850e3cfec18.jpeg',
            medium: 'https://t.radiobrony.fr/FiS_S71muhNnR7iCdiLaOLumNzU=/300x0/https://acast-media.s3.eu-west-1.amazonaws.com/assets/9f905938-baf3-4214-bd26-65999b4899d7/1556746793291-b3459197845111fd3df52850e3cfec18.jpeg',
            large: 'https://t.radiobrony.fr/WMb8tgXr-2z8i_ARVo2WOO_UKoc=/450x0/https://acast-media.s3.eu-west-1.amazonaws.com/assets/9f905938-baf3-4214-bd26-65999b4899d7/1556746793291-b3459197845111fd3df52850e3cfec18.jpeg'
          },
          links: [
            {
              title: 'Site',
              link: 'https://www.leparisien.fr/podcasts/code-source/',
              style: ''
            },
            {
              title: 'RSS',
              link: 'https://rss.acast.com/code-source',
              style: 'external'
            },
            {
              title: 'Twitter',
              link: 'https://twitter.com/codesource',
              style: 'twitter'
            }
          ]
        }
        /*
        {
          title: 'J-Pop Social Club',
          descript: "Chaque mois, des gens un peu étranges se réunissent pour parler d'un univers musical bien obscur : la musique japonaise ou J-Music...",
          img: 'https://uploads.podcloud.fr/uploads/covers/51d2/e4b3/90c8/dd24/ea4a/c4a6/cb4c/538d/1808/a9a4/51d2e4b390c8dd24ea4ac4a6cb4c538d1808a9a4.jpg',
          img_sizes: {
            small: 'https://t.radiobrony.fr/Hf7F1bEC8KQjy9lP-NtaDqcMtlM=/150x0/https://uploads.podcloud.fr/uploads/covers/51d2/e4b3/90c8/dd24/ea4a/c4a6/cb4c/538d/1808/a9a4/51d2e4b390c8dd24ea4ac4a6cb4c538d1808a9a4.jpg',
            medium: 'https://t.radiobrony.fr/q9A6RN9hOjaMNqQQhpR7_YlNLow=/300x0/https://uploads.podcloud.fr/uploads/covers/51d2/e4b3/90c8/dd24/ea4a/c4a6/cb4c/538d/1808/a9a4/51d2e4b390c8dd24ea4ac4a6cb4c538d1808a9a4.jpg',
            large: 'https://t.radiobrony.fr/a6uBItcHINwM6VkHFDw7IDQ9jx4=/450x0/https://uploads.podcloud.fr/uploads/covers/51d2/e4b3/90c8/dd24/ea4a/c4a6/cb4c/538d/1808/a9a4/51d2e4b390c8dd24ea4ac4a6cb4c538d1808a9a4.jpg'
          },
          links: [
            {
              title: 'Site',
              link: 'https://jpopsocialclub.lepodcast.fr/',
              style: ''
            },
            {
              title: 'RSS',
              link: 'https://jpopsocialclub.lepodcast.fr/rss',
              style: 'external'
            },
            {
              title: 'Twitter',
              link: 'https://twitter.com/jpopsocialclub',
              style: 'twitter'
            },
            {
              title: 'Facebook',
              link: 'https://www.facebook.com/jpopsocialclub/',
              style: 'facebook'
            }
          ]
        }
        */
      ]
    }
  }
}
</script>

<style lang="scss">
.home-reco {
  .reco-fiche {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #808080;
    border-radius: 5px;
    display: flex;
    margin: 6px 3px;
    padding: 10px;
    width: calc(100% - 28px);

    .reco-image {
      display: none;
      min-width: 150px;
      width: 150px;

      img {
        align-self: center;
        height: auto;
        width: 100%;
      }
    }

    .reco-details {
      .reco-descript {
        border-left: 3px solid gray;
        margin: 10px 0;
        padding: 5px 10px;
      }

      .reco-links {
        .btn {
          line-height: 1.2; // Align stuff a bit
        }
      }
    }

    @media screen and (min-width: 720px) {
      .reco-image {
        display: block;
      }

      .reco-details {
        margin: 0 20px;
      }
    }
  }
}
</style>
