<template>
  <div class="home-timeline">
    <div v-if="error">
      <i>Oups, un problème. {{ error }}</i>
    </div>

    <div v-else-if="!tweets" class="loading">
      <span class="donut"></span><br/>
      Chargement des derniers tweets...
    </div>

    <div v-else class="tweets">
      <div
        v-for="t in tweets"
        :key="t.id"
        class="tweet">
        <div class="author">
          <img
            loading="lazy"
            :alt="t.author.name"
            :srcset="`${t.author.img_sizes.small},
                      ${t.author.img_sizes.medium} 2x,
                      ${t.author.img_sizes.large} 3x`"
            :src="t.author.img_sizes.large"/>

          <div>
            <repeat-variant-icon
              v-if="t.retweet"
              title="Tweet repartagé"/>

            <b>
              <a
                :href="`https://twitter.com/` + t.author.handle"
                target="_blank" rel="noopener noreferrer">
                {{ t.author.name }}</a>
            </b>

            <br/>

            <span>
              <a
                :href="`https://twitter.com/` + t.author.handle"
                target="_blank" rel="noopener noreferrer">
                @{{ t.author.handle }}</a>
            </span>
          </div>
        </div>

        <div class="message" v-html="t.message" />

        <div v-if="t.medias.length > 0" class="medias">
          <a
            v-for="m in t.medias"
            :key="m.id"
            :href="t.url"
            :style="`background-image: url(${m.proxy});`"
            :alt="m.url"
            target="_blank"
            title="Média attaché"
            rel="noopener noreferrer">&nbsp;</a>
        </div>

        <div class="details">
          <span class="actions">
            <reply-icon
              title="Répondre"
              @click="openPopup(`https://twitter.com/intent/tweet?in_reply_to=` + t.id)"/>
            <repeat-variant-icon
              title="Retweeter"
              @click="openPopup(`https://twitter.com/intent/retweet?tweet_id=` + t.id)"/>
            <heart-icon
              title="Liker"
              @click="openPopup(`https://twitter.com/intent/like?tweet_id=` + t.id)"/>
          </span>

          <span class="date">
            <a
              :href="t.url"
              target="_blank" rel="noopener noreferrer">
              {{ parseDateTime(t.timestamp) }}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Deps
import { DateTime } from 'luxon'
// Icons
import HeartIcon from '@mkody/vue-material-design-icons/Heart.vue'
import ReplyIcon from '@mkody/vue-material-design-icons/Reply.vue'
import RepeatVariantIcon from '@mkody/vue-material-design-icons/RepeatVariant.vue'

export default {
  name: 'HomeTimeline',
  components: {
    HeartIcon,
    ReplyIcon,
    RepeatVariantIcon
  },
  data () {
    return {
      tweets: null,
      error: null
    }
  },
  mounted () {
    fetch('https://node.radiobrony.fr/gazouillis.json')
      .then(rep => {
        return rep.json()
      })
      .then(json => {
        this.tweets = json
      })
      .catch(err => {
        console.log('Can\'t fetch tweets.', err)
        this.error = 'Impossible de récupérer les tweets pour l\'instant !'
      })
  },
  methods: {
    openPopup (url) {
      const windowOptions = 'scrollbars=yes,resizable=yes,toolbar=no,location=yes'
      const width = 550
      const height = 420
      const left = Math.round((screen.width / 2) - (width / 2))
      let top = 0

      if (screen.height > height) {
        top = Math.round((screen.height / 2) - (height / 2))
      }

      window.open(
        url,
        'intent',
        windowOptions + ',width=' + width + ',height=' + height + ',left=' + left + ',top=' + top
      )
    },
    parseDateTime (str) {
      // Parse that kind of thing: Thu May 17 12:34:12 +0000 2018
      const dt = DateTime.fromFormat(str, 'EEE MMM dd HH:mm:ss ZZZ yyyy')
      return dt.setLocale('fr').toLocaleString(DateTime.DATETIME_MED)
    }
  }
}
</script>

<style lang="scss">
.home-timeline {
  .loading {
    text-align: center;
  }

  .tweets {
    display: flex;
    flex-wrap: wrap;

    .tweet {
      background-color: #ffffff;
      border: 1px solid #808080;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: fit-content;
      margin: 3px;
      padding: 10px;
      width: 100%;

      .author {
        display: flex;

        img {
          border-radius: 5px;
          height: 48px;
          width: 48px;
        }

        div {
          padding: 5px 0 0 10px;

          a,
          a:visited {
            color: inherit;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          span {
            color: gray;
            font-size: 0.8em;

            &.repeat-variant-icon {
              color: #008000;
              font-size: 1em;
            }
          }
        }
      }

      .message {
        flex-grow: 1;
        padding: 10px 0;

        a {
          color: inherit;
        }
      }

      .medias {
        align-content: center;
        display: flex;
        margin-bottom: 10px;
        width: 100%;

        a {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: zoom-in;
          display: inline-block;
          flex-grow: 1;
          height: 100px;
          text-decoration: none;
        }
      }

      .details {
        display: flex;

        .actions {
          flex-grow: 1;
        }

        .date {
          font-size: 0.9em;
          text-align: right;
        }

        a,
        a:visited,
        .material-design-icon {
          color: gray;
          cursor: pointer;
          margin: 0 5px;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  @media (min-width: 720px) {
    .tweets {
      .tweet {
        // 3 cols
        width: calc(100% / 3 - 28px);

        // Except the first two with 2 cols
        &:nth-child(1),
        &:nth-child(2) {
          width: calc(100% / 2 - 28px);
        }
      }
    }
  }
}
</style>
