<!--
  Usage: <kickstarter :project-id="[PROJECT ID]" project-name="'[SEARCH TERM]'" />
  Since there's no proper Kickstarter API, we make a call to the search GraphQL
  and pick in the results our project. For this we need a search term and we
  then pick in the results the one with the correct project id.
-->
<template>
  <div class="kickstarter">
    <div v-if="!project && !error" class="loading">
      <span class="donut"></span><br/>
      Chargement depuis Kickstarter...
    </div>

    <div v-else-if="error">
      <i>{{ error }}</i>
    </div>

    <div
      v-else
      :style="{ backgroundImage: 'url(' + project.photo['1024x576'] + ')' }"
      class="project">
      <div class="details">
        <p>
          <b>{{ project.name }}</b><br/>
          {{ project.blurb }}
        </p>
        <p>
          Montant récolté : {{ project.pledged }}{{ project.currency_symbol }}
          sur {{ project.goal }}{{ project.currency_symbol }}
          ({{ Math.floor((project.pledged / project.goal) * 100) }}%)
          <br/>
          {{ timeLeft(project.deadline * 1000) }} !
        </p>
      </div>
      <div>
        <a
          :href="project.urls.web.project"
          class="contribute"
          target="_blank">
          Contribuer</a>
      </div>
    </div>
  </div>
</template>

<script>
import { Duration } from 'luxon'

export default {
  name: 'Kickstarter',
  props: {
    projectName: String,
    projectId: Number
  },
  data () {
    return {
      project: null,
      error: null,
      interval: null
    }
  },
  mounted () {
    this.loadData()
    this.interval = setInterval(this.loadData, 60 * 1000)
  },
  beforeUnmount () {
    clearInterval(this.interval)
  },
  methods: {
    loadData () {
      fetch('https://cache.radiobrony.fr', {
        headers: new Headers({
          'Target-URL': 'https://www.kickstarter.com/projects/search.json?term=' + this.projectName
        })
      })
        .then(r => r.json())
        .then(j => {
          const p = j.projects.filter(obj => {
            return obj.id === this.projectId
          })
          if (p.length === 0) {
            this.error = 'L\'événement n\'a pas encore commencé !'
          } else {
            this.error = null
            this.project = p[0]
          }
        })
        .catch(err => {
          console.log('Can\'t fetch Kickstarter.', err)
          this.error = 'Oups, un problème. Impossible de récupérer les informations pour l\'instant !'
        })
    },
    timeLeft (date) {
      const dur = date - Date.now()
      const prefix = 'Il vous reste '

      if (dur < 60 * 1000) { // Less than a minute (or ended)
        return 'La campagne est terminée'
      } else if (dur < 2 * 60 * 60 * 1000) { // Less than 2 hours
        const mTime = Math.ceil(Duration.fromMillis(dur).as('minutes'))
        return prefix + mTime + ' minute' + (mTime === 1 ? '' : 's')
      } else if (dur < 3 * 24 * 60 * 60 * 1000) { // Less than 3 days
        const hTime = Math.ceil(Duration.fromMillis(dur).as('hours'))
        return prefix + hTime + ' heure' + (hTime === 1 ? '' : 's')
      } else {
        const dTime = Math.ceil(Duration.fromMillis(dur).as('days'))
        return prefix + dTime + ' jour' + (dTime === 1 ? '' : 's')
      }
    }
  }
}
</script>

<style lang="scss">
.kickstarter {
  .loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }

  .project {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .details {
      background-color: rgba(255, 255, 255, .8);
      color: black;
      margin-left: 15px;
      padding: 0 15px;
    }

    .contribute {
      background: linear-gradient(#00a6f0,#009fe6);
      box-shadow: 0 3px 0 #00608b;
      box-sizing: border-box;
      color: white;
      display: inline-block;
      font-weight: bold;
      margin: 30px;
      padding: 20px;
      text-align: center;
      text-decoration: none;

      &:hover {
          background: linear-gradient(#00b0ff, #00a9f5);
      }

      &:active {
          background: #00608b;
      }
    }
  }

  @media screen and (min-width: 720px) {
    .project {
      flex-direction: row;
      padding: 15px 0;
    }
  }
}

#app.dark-app {
  .kickstarter .project {
    .details {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}
</style>
