<!--
  Usage: <marked-map :coords="[lat, long]" :zoom="15" />
-->
<template>
  <l-map style="min-height: 400px; height: 50vh;" :zoom="zoom" :center="coords">
    <l-tile-layer
      url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
      layer-type="base"
      name="OpenStreetMap"
      :attribution="aOSM"
      :visible="false" />
    <l-tile-layer
      url="https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=5f5c48c153f84111b401db2b1338663f"
      layer-type="base"
      name="Atlas"
      :attribution="aTF"
      :visible="false" />
    <l-tile-layer
      url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png"
      layer-type="base"
      name="Carto Light"
      :attribution="aC"
      :visible="false" />
    <l-tile-layer
      url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"
      layer-type="base"
      name="Carto Dark"
      :attribution="aC"
      :visible="false" />
    <l-tile-layer
      url="https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png"
      layer-type="base"
      name="OSM France"
      :attribution="aOSMFR"
      :visible="true" />

    <l-control-layers />

    <l-marker :lat-lng="[48.862339739289176, 2.345122396945954]">
      <l-tooltip>
        {{ title }}
      </l-tooltip>
    </l-marker>
  </l-map>
</template>

<script>
import 'leaflet/dist/leaflet.css'
import {
  LMap,
  LTileLayer,
  LMarker,
  LControlLayers,
  LTooltip
} from '@vue-leaflet/vue-leaflet'

export default {
  name: 'MarkedMap',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControlLayers,
    LTooltip
  },
  props: {
    coords: {
      required: true,
      type: Array
    },
    title: {
      required: true,
      type: String
    },
    zoom: {
      default: 15,
      type: Number
    }
  },
  data () {
    return {
      aC: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//carto.com">Carto.com</a>',
      aOSM: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL',
      aOSMFR: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
      aTF: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//thunderforest.com">Thunderforest</a>'
    }
  }
}
</script>
