<template>
  <div class="shareon">
    <a class="twitter" data-via="RadioBrony"></a>
    <a class="mastodon" data-via="@RadioBrony@equestria.social"></a>
    <a class="facebook"></a>
    <a class="telegram"></a>
    <a class="whatsapp"></a>
    <a class="pocket"></a>
  </div>
</template>

<script>
import { init } from 'shareon'
import 'shareon/css'

export default {
  name: 'shareon',
  mounted () {
    init()
  }
}
</script>

<style lang="scss" scoped>
.shareon {
  margin: 0.5rem;
  text-align: center;

  & > .mastodon {
    background-color: #6364ff;
  }
}
</style>
