<!--
  Usage: <ulule :project-id="[PROJECT ID]" />
-->
<template>
  <div class="ulule">
    <div v-if="!project" class="loading">
      <span class="donut"></span><br/>
      Chargement depuis Ulule...
    </div>

    <div v-else-if="error">
      <i>Oups, un problème. {{ error }}</i>
    </div>

    <div
      v-else
      :style="{ backgroundImage: 'url(' + project.background.url + ')' }"
      class="project">
      <div>
        <div
          :style="{ backgroundImage: 'url(' + project.image + ')' }"
          class="image">
        </div>
      </div>
      <div class="details">
        <p>
          <b>{{ project.name_fr }}</b><br/>
          {{ project.subtitle_fr }}
        </p>
        <p>
          Montant récolté : {{ project.amount_raised }}€
          sur {{ project.goal }}€ ({{ project.percent }}%)
          <br/>
          {{ timeLeft(project.date_end) }} !
        </p>
      </div>
      <div>
        <a
          :href="project.absolute_url"
          class="contribute"
          target="_blank">
          Contribuer</a>
      </div>
    </div>
  </div>
</template>

<script>
import { DateTime, Duration } from 'luxon'

export default {
  name: 'Ulule',
  props: {
    projectId: Number
  },
  data () {
    return {
      project: null,
      error: null,
      interval: null
    }
  },
  mounted () {
    this.loadData()
    this.interval = setInterval(this.loadData, 60 * 1000)
  },
  beforeUnmount () {
    clearInterval(this.interval)
  },
  methods: {
    loadData () {
      fetch('https://cache.radiobrony.fr', {
        headers: new Headers({
          'Target-URL': 'https://api.ulule.com/v1/projects/' + this.projectId + '?lang=fr'
        })
      })
        .then(r => r.json())
        .then(j => {
          this.project = j
        })
        .catch(err => {
          console.log('Can\'t fetch Ulule.', err)
          this.error = 'Impossible de récupérer les informations pour l\'instant !'
        })
    },
    timeLeft (date) {
      const dur = DateTime.fromISO(date).ts - Date.now()
      const prefix = 'Il vous reste '

      if (dur < 60 * 1000) { // Less than a minute (or ended)
        return 'La campagne est terminée'
      } else if (dur < 2 * 60 * 60 * 1000) { // Less than 2 hours
        const mTime = Math.ceil(Duration.fromMillis(dur).as('minutes'))
        return prefix + mTime + ' minute' + (mTime === 1 ? '' : 's')
      } else if (dur < 3 * 24 * 60 * 60 * 1000) { // Less than 3 days
        const hTime = Math.ceil(Duration.fromMillis(dur).as('hours'))
        return prefix + hTime + ' heure' + (hTime === 1 ? '' : 's')
      } else {
        const dTime = Math.ceil(Duration.fromMillis(dur).as('days'))
        return prefix + dTime + ' jour' + (dTime === 1 ? '' : 's')
      }
    }
  }
}
</script>

<style lang="scss">
.ulule {
  .loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }

  .project {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      height: 100px;
      margin: 30px;
      width: 100px;
    }

    .details {
      background-color: rgba(255, 255, 255, .6);
      color: black;
      padding: 0 10px;
    }

    .contribute {
      background: linear-gradient(#00a6f0,#009fe6);
      box-shadow: 0 3px 0 #00608b;
      box-sizing: border-box;
      color: white;
      display: inline-block;
      font-weight: bold;
      margin: 30px;
      padding: 20px;
      text-align: center;
      text-decoration: none;

      &:hover {
          background: linear-gradient(#00b0ff, #00a9f5);
      }

      &:active {
          background: #00608b;
      }
    }
  }

  @media screen and (min-width: 720px) {
    .project {
      flex-direction: row;
      padding: 15px 0;
    }
  }
}

#app.dark-app {
  .ulule .project {
    .details {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}
</style>
