<template>
  <div class="webmentions">
    <template v-if="comments.length > 0 || likes.length > 0 || reposts.length > 0 || mentions.length > 0">
      <Shareon />
      <hr/>
    </template>

    <template v-if="likes.length > 0">
      <div class="likes">
        <b>Liké par :</b>
        <span
          v-for="l in likes"
          :key="l.id"
          :title="`depuis ${getHost(l.url)}`"
          class="like">
          &nbsp;
          <template v-if="l.author.photo">
            <a :href="l.author.url || '#'" target="_blank" rel="noopener">
              <img :src="l.author.photo" :alt="l.author.name">
            </a>
          </template>
          <template v-if="l.url">
            <a :href="l.url" target="_blank" rel="noopener">
              {{ l.author.name }}
            </a>
          </template>
          <template v-else>
            {{ l.author.name }}
          </template>
        </span>
      </div>
    </template>

    <template v-if="reposts.length > 0">
      <div class="reposts">
        <b>Reposté par :</b>
        <span
          v-for="r in reposts"
          :key="r.id"
          :title="`depuis ${getHost(r.url)}`"
          class="repost">
          &nbsp;
          <template v-if="r.author.photo">
            <a :href="r.author.url || '#'" target="_blank" rel="noopener">
              <img :src="r.author.photo" :alt="r.author.name">
            </a>
          </template>
          <template v-if="r.url">
            <a :href="r.url" target="_blank" rel="noopener">
              {{ r.author.name }}
            </a>
          </template>
          <template v-else>
            {{ r.author.name }}
          </template>
        </span>
      </div>
    </template>

    <template v-if="comments.length > 0">
      <div class="comments">
        <h3>Commentaires</h3>
        <div
          v-for="c in comments"
          :key="c.id"
          class="comment">
          <div class="comment-details">
            <template v-if="c.author.photo">
              <img :src="c.author.photo" :alt="c.author.name">
            </template>

            <div class="comment-details-authoring">
              <div class="comment-details-authoring-author">
                <template v-if="c.author.url">
                  <a :href="c.author.url" target="_blank" rel="noopener">
                    <b>{{ c.author.name }}</b>
                  </a>
                </template>
                <template v-else>
                  <b>{{ c.author.name }}</b>
                </template>
              </div>
              <div class="comment-details-authoring-source">
                <a :href="c.url || '#'" target="_blank" rel="noopener">
                  {{ parseDateTime(c.datetime) }}
                  via {{ getHost(c.url) }}
                </a>
              </div>
            </div>
          </div>
          <div class="comment-content">
            <p v-html="nl2br(c.content.text)"></p>
          </div>
        </div>
      </div>
    </template>

    <template v-if="mentions.length > 0">
      <div class="mentions">
        <h3>Mentions</h3>
        <ul>
          <li
            v-for="m in mentions"
            :key="m.id"
            class="mention">
            <template v-if="m.author.name">
              {{ m.author.name }}:
            </template>
            <a :href="m.url || '#'" target="_blank" rel="noopener">
              <template v-if="m.title">
                {{ m.title }}
              </template>
              <template v-else>
                {{ m.url }}
              </template>
            </a>
            <span>
              &nbsp;({{ parseDateTime(m.datetime) }})
            </span>
          </li>
        </ul>
      </div>
    </template>
  </div>
</template>

<script>
import { DateTime } from 'luxon'
import Shareon from '@/components/Shareon.vue'

export default {
  name: 'webmentions',
  components: {
    Shareon
  },
  data () {
    return {
      likes: [],
      reposts: [],
      comments: [],
      mentions: []
    }
  },
  mounted () {
    const url = 'https://radiobrony.fr' + this.$route.path

    fetch('https://cache.radiobrony.fr', {
      headers: new Headers({
        'Target-URL': 'https://webmention.io/api/mentions.jf2?per-page=100&target=' + url
      })
    })
      .then(r => r.json())
      .then(j => {
        j.children.forEach(e => {
          // Not implemented: bookmark-of, rsvp
          if (e['wm-property'] === 'like-of') {
            this.likes.push({
              id: e['wm-id'],
              author: e.author,
              url: e.url || e.author.url,
              datetime: e.published || e['wm-received']
            })
          } else if (e['wm-property'] === 'repost-of') {
            this.reposts.push({
              id: e['wm-id'],
              author: e.author,
              url: e.url || e.author.url,
              datetime: e.published || e['wm-received']
            })
          } else if (e['wm-property'] === 'in-reply-to') {
            this.comments.push({
              id: e['wm-id'],
              author: e.author,
              url: e.url,
              datetime: e.published || e['wm-received'],
              content: e.content
            })
          } else if (e['wm-property'] === 'mention-of') {
            this.mentions.push({
              id: e['wm-id'],
              author: e.author,
              url: e.url,
              datetime: e.published || e['wm-received'],
              title: e.name
            })
          }
        })

        this.likes.sort((a, b) => (a.author.name > b.author.name ? 1 : -1))
        this.reposts.sort((a, b) => (a.author.name > b.author.name ? 1 : -1))
        this.comments.sort((a, b) => (a.datetime > b.datetime ? 1 : -1))
        this.mentions.sort((a, b) => (a.datetime > b.datetime ? 1 : -1))
      })
  },
  methods: {
    parseDateTime (str) {
      const dt = DateTime.fromISO(str)
      return dt.setLocale('fr').toLocaleString(DateTime.DATETIME_MED)
    },
    getHost (url) {
      if (!url) return '?'
      return new URL(url).hostname
    },
    nl2br (str) {
      return str.replace(/\r?\n|\r/g, '<br>')
    }
  }
}
</script>

<style lang="scss" scoped>
.webmentions {
  .comments {
    .comment {
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #808080;
      margin: 16px 0;
      overflow: hidden;
      padding: 10px;
      width: calc(100% - 28px);

      &-details {
        border-left: 3px gray solid;
        display: flex;
        margin: 0 0 10px;
        padding: 5px 10px;

        img {
          border-radius: 10%;
          margin-right: 10px;
          max-height: 48px;
          max-width: 48px;
          vertical-align: top;
        }

        &-authoring {
          display: flex;
          flex-direction: column;
          justify-content: center;

          a,
          a:visited {
            color: inherit !important;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }

      &-content {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .likes,
  .reposts {
    margin-top: 1rem;

    span {
      display: inline-block;
      // The next two lines are because of people using weird chars in their names
      overflow: hidden;
      vertical-align: top;

      &:not(:last-child)::after {
        content: ', ';
      }

      img {
        border-radius: 50%;
        margin-right: 5px;
        max-height: 1rem;
        max-width: 1rem;
        vertical-align: top;
      }
    }
  }

  .mentions {
    .mention {
      overflow: hidden;

      span {
        display: inline-block;
      }
    }
  }
}
</style>
