<!--
  Usage: <zevent />
-->
<template>
  <div class="zevent">
    <div v-if="!raised" class="loading">
      <span class="donut"></span><br/>
      Chargement...
    </div>

    <div v-else-if="error">
      <i>Oups, un problème. {{ error }}</i>
    </div>

    <div
      v-else
      class="project">
      <div>
        <div class="image">
        </div>
      </div>
      <div class="details">
        <p>
          <b>ZEvent 2022</b> <small>pour LPO, Sea Shepherd, The SeaCleaners et WWF</small><br/>
          <template v-if="notStarted">
            L'événement commence {{ timeLeft(notStarted, true) }} !
          </template>
          <template v-else>
            <template v-if="raised">
              <b>Montant récolté :</b> {{ raised }}<br/>
            </template>
            {{ timeLeft(endTime) }} !
          </template>
        </p>
        <p v-if="currentEvent || nextEvent">
          <template v-if="currentEvent">
            <b>En cours :</b>
            {{ currentEvent.title }}
          </template>
          <template v-if="currentEvent && nextEvent">
            <br/>
          </template>
          <template v-if="nextEvent">
            <b>A venir :</b>
            {{ nextEvent.title }}
            ({{ timeLeft((new Date(nextEvent.start)), true) }})
          </template>
        </p>
      </div>
      <div class="event-btns">
        <a
          :href="'https://www.twitch.tv/' + (
            currentEvent && currentEvent.organizers.length > 0 ?
              currentEvent.organizers[0].twitch : 'zerator'
          )"
          class="event-btn event-btn-stream"
          target="_blank">
          <twitch-icon class="simple-icons" size="0.8x"/>&nbsp;
          Stream</a>
        <a
          href="https://zevent.fr/"
          class="event-btn event-btn-site"
          target="_blank">
          <hand-heart-icon decorative title=""/>&nbsp;
          Le site</a>
      </div>
    </div>
  </div>
</template>

<script>
import { Duration } from 'luxon'
import { TwitchIcon } from 'vue3-simple-icons'
import HandHeartIcon from '@mkody/vue-material-design-icons/HandHeart.vue'

export default {
  name: 'Zevent',
  components: {
    TwitchIcon,
    HandHeartIcon
  },
  data () {
    return {
      raised: null,
      notStarted: null,
      endTime: null,
      error: null,
      currentEvent: null,
      nextEvent: null
    }
  },
  mounted () {
    this.endTime = new Date('2022-09-12 01:00 GMT+0200')
    this.loadData()
    this.interval = setInterval(this.loadData, 60 * 1000)
  },
  beforeUnmount () {
    clearInterval(this.interval)
  },
  methods: {
    loadData () {
      fetch('https://cache.radiobrony.fr', {
        headers: new Headers({
          'Target-URL': 'https://zevent.fr/api/'
        })
      })
        .then(r => r.json())
        .then(j => {
          this.currentEvent = null
          this.nextEvent = null

          const startTime = new Date('2022-09-09 18:00 GMT+0200')
          if ((new Date()) < startTime) {
            this.notStarted = startTime.getTime()
          } else {
            this.notStarted = null
          }

          this.raised = j.donationAmount.formatted

          this.currentEvent = j.calendar.find(item => {
            return (new Date(item.start)) < (new Date()) && (new Date(item.end)) > (new Date())
          })
          this.nextEvent = j.calendar.find(item => {
            return (new Date(item.start)) > (new Date())
          })
        })
        .catch(err => {
          console.log('Can\'t fetch Zevent data.', err)
          this.error = 'Impossible de récupérer les informations pour l\'instant !'
        })
    },
    timeLeft (date, starting) {
      const dur = date - Date.now()
      let prefix = 'Il reste '
      if (starting) prefix = 'dans '

      if (dur < 60 * 1000) { // Less than a minute (or ended)
        if (starting) return 'maintenant'
        return 'L\'événement est terminé'
      } else if (dur < 2 * 60 * 60 * 1000) { // Less than 2 hours
        return prefix + Math.ceil(Duration.fromMillis(dur).as('minutes')) + ' minutes'
      } else if (dur < 3 * 24 * 60 * 60 * 1000) { // Less than 3 days
        return prefix + Math.ceil(Duration.fromMillis(dur).as('hours')) + ' heures'
      } else {
        return prefix + Math.ceil(Duration.fromMillis(dur).as('days')) + ' jours'
      }
    }
  }
}
</script>

<style lang="scss">
.zevent {
  .loading {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
  }

  .project {
    align-items: center;
    background-image: url(../assets/zevent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;

    .material-design-icon {
      height: 0.8em;
      width: 0.8em;

      & > .material-design-icon__svg {
        height: 0.9em;
        width: 0.9em;
      }
    }

    .image {
      background-image: url(../assets/zevent-logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      margin: 0 20px;
      width: 120px;
    }

    .details {
      background-color: rgba(255, 255, 255, .8);
      color: black;
      flex-grow: 1;
      padding: 0 15px;
      width: calc(100% - 60px);
    }

    .event-btns {
      text-align: center;

      .event-btn {
        box-sizing: border-box;
        color: white;
        display: inline-block;
        font-weight: bold;
        margin: 10px;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;

        &-stream {
          background: #9147ff;
          box-shadow: 0 3px 0 #6441a4;

          &:hover {
            background: #a871fa;
          }

          &:active {
            background: #a871fa;
            box-shadow: 0 0 0 #a871fa;
          }
        }

        &-site {
          background: #4BBA31;
          box-shadow: 0 3px 0 #3c8b29;

          &:hover {
            background: #78d662;
          }

          &:active {
            background: #78d662;
            box-shadow: 0 0 0 #78d662;
          }
        }
      }
    }
  }

  @media screen and (min-width: 720px) {
    .project {
      flex-direction: row;
      padding: 15px 0;

      .event-btns .event-btn {
        display: block;
        margin: 10px 30px;
      }
    }
  }
}

#app.dark-app {
  .mario-marathon .project {
    .details {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}
</style>
