#app.dark-app {
    // Base color stuff
    background-color: #292829;
    color: #ffffff;

    .btn {
        border-color: #292829;
    }

    hr {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
    // Header links
    .main-header .full-nav a {
        color: #ffffff;
    }

    // Change text colors in header
    .radio {
        color: #ffffff;

        .text {
            div {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    // Change player colors
    .liverb-player {
        background-color: rgba(0, 0, 0, .7);

        input[type=range] {
            &::-webkit-slider-runnable-track {
                background: #F53B49;
            }

            &::-moz-range-track {
                background: #F53B49;
            }

            &::-ms-fill-lower,
            &::-ms-fill-upper {
                background: #F53B49;
            }

            &:focus {
                &::-ms-fill-lower {
                    background: #F53B49;
                }
            }
        }
    }

    // Spoilers
    /* Simple
    s {
        background-color: white;
        color: white;
        text-decoration: none !important;

        &:hover {
            color: black;
        }
    }
    */

    // Links
    .home-events .event,
    .podcast-episode .description,
    .live .contents,
    .faq,
    .oldblog,
    .webmentions,
    div[class^="page-"] {
        a,
        a:visited {
            color: #8888ff;
        }
    }

    .podcast-episode h2 span:hover {
        border-bottom: 1px solid #ffffff;
    }

    // Fix hover colors
    .home-timeline .tweets .tweet .details {
        .material-design-icon:hover {
            color: #ffffff;
        }
    }

    // Cards background
    .home .latest,
    .home-timeline .tweets .tweet,
    .home-events .event,
    .home-breves,
    .home-reco .reco-fiche,
    .podcast-list .show,
    .podcast-show .episode,
    .podcast-episode .description,
    .oldblog .comment,
    .webmentions .comment {
        background-color: #333333;
    }

    // Fix plyr colors
    .plyr {
        --plyr-audio-control-color: #ffffff;
        --plyr-audio-controls-background: #333333;
        --plyr-menu-background: rgba(51, 51, 51, .9);
        --plyr-menu-color: #ffffff;
        --plyr-tooltip-background: rgba(51, 51, 51, .9);
        --plyr-tooltip-color: #ffffff;
    }
}