// Ce fichier contient du CSS pour faire fonctionner/passer
// du contenu copié/collé du vieux site WordPress

.oldblog {
  & > blockquote {
    border-left: 3px gray solid;
    margin: 10px 0;
    padding: 5px 10px;
  }

  hr {
    margin: 24px;
  }

  .entry-content {
    line-height: 1.5;

    p {
      margin: 0 0 1.5rem;
    }

    blockquote {
      font-style: italic;
      padding: 24px;
    }

    img {
      &.wp-post-image {
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      }
      &.alignleft {
        float: left;
        margin: 0 15px 15px 0;
      }
      &.alignright {
        float: right;
        margin: 0 15px 15px 0;
      }
    }

    .videoWrapper,
    .embed-youtube {
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      // padding-top: 10px;
      position: relative;

      video,
      object,
      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .comments {
    .comment {
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #808080;
      margin: 16px 0;
      padding: 10px;
      width: calc(100% - 28px);

      &-details {
        border-left: 3px gray solid;
        margin: 10px 0;
        padding: 5px 10px;
      }

      &-content {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
