<template>
  <div id="app" :class="{ 'dark-app': darkApp === true }">
    <header class="main-header">
      <nav class="full-nav">
        <router-link
          v-for="n in navBar"
          :key="n.path"
          :class="n.class"
          :to="n.path">
          {{ n.title }}
        </router-link>
      </nav>

      <select
        v-model="currentNav"
        class="mobile-nav"
        @change="$router.push(currentNav)">
        <option disabled selected value="">-- Navigation --</option>
        <option
          v-for="n in navBar"
          :key="n.path"
          :value="n.path">
          {{ n.title }}
        </option>
      </select>

      <div
        v-if="offline"
        class="offline">
        <strong>Il semblerait que vous êtes déconnecté d'Internet.</strong><br>
        Certains éléments risquent de ne pas charger correctement.
      </div>

      <Player />
    </header>

    <router-view v-slot="{ Component }">
      <transition
        :duration="{ enter: 200, leave: 100 }"
        appear
        name="fade"
        mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>

    <footer class="main-footer">
      <hr/><br/>
      &copy; Radio Brony (2012-{{ (new Date()).getFullYear() }})<br/>
      <router-link to="/faq">FAQ</router-link>
      -
      <router-link to="/equipe">Équipe</router-link>
      -
      <router-link to="/privacy">Vie Privée</router-link><br/>
      <a
        href="#"
        @click="toggleDarkApp">
        {{ darkApp ? 'Allumer' : 'Éteindre' }} la lumière</a>
      <br/><br/>
      <a
        target="_blank"
        rel="noreferrer noopener"
        href="https://web3isgoinggreat.com">
        <img
          alt="This is an Anti-NFT Site"
          class="clipart"
          height="31" width="88"
          src="@/assets/antinft.clip.gif">
      </a>
      <img
        alt="made with affection"
        class="clipart"
        height="31" width="88"
        src="@/assets/affection.clip.gif"
        @click="popHearts">
      <img
        alt="Linux powered"
        class="clipart"
        height="31" width="88"
        src="@/assets/linuxpowered.clip.gif"
        @click="toggleVM">
    </footer>
  </div>

  <boot-linux v-if="startVM"/>
</template>

<script>
import { DateTime } from 'luxon'
import snowf from 'snowf'
import Player from '@/components/Player.vue'
import BootLinux from '@/components/BootLinux.vue'

export default {
  components: {
    Player,
    BootLinux
  },
  data () {
    return {
      crate: null,
      currentNav: '',
      darkApp: false,
      navBar: [
        {
          title: 'Accueil',
          path: '/',
          class: 'home-link'
        },
        {
          title: 'Live',
          path: '/live',
          class: null
        },
        {
          title: 'Podcasts',
          path: '/podcasts',
          class: null
        },
        {
          title: 'FAQ',
          path: '/faq',
          class: null
        }
      ],
      offline: false,
      startVM: false
    }
  },
  watch: {
    '$route' (to, from) {
      this.menuSelectUpdate()
    }
  },
  mounted () {
    this.offline = !navigator.onLine
    this.menuSelectUpdate()

    // Check if we're in dark mode or not
    try {
      this.darkApp = JSON.parse(localStorage.getItem('darkApp'))

      // If no setting and system is in dark mode, enable dark mode
      if (this.darkApp === null && window.matchMedia &&
          window.matchMedia('(prefers-color-scheme: dark)').matches) {
        this.darkApp = true
        localStorage.setItem('darkApp', JSON.stringify(this.darkApp))
      }

      if (this.darkApp === true) {
        // Set theme for Twitter widgets
        document.querySelector('meta[name="twitter:widgets:theme"]').setAttribute('content', 'dark')
      }
    } catch (e) {
      console.log('Error getting darkApp.', e)
    }

    // Check if webappp
    if (window.navigator.standalone ||
        window.matchMedia('(display-mode: standalone)').matches) {
      document.querySelector('body').classList.add('webapp')
    }

    // Launch once and check if we enable/disable night theme every 15 minutes
    this.dayOrNight()
    setInterval(this.dayOrNight, 15 * 60 * 1000)

    // Check for seasonal theme
    this.seasonTheme()

    // Detect online/offline
    document.body.addEventListener('offline', _ => { this.offline = true })
    document.body.addEventListener('online', _ => { this.offline = false })

    // Listen for messages
    window.addEventListener('message', e => {
      // Resize tweet iframes
      if (e.origin === 'https://twitframe.com') {
        document.querySelector('#' + e.data.element).height = e.data.height
      }
    })

    // Load Shynet
    const shy = document.createElement('script')
    shy.setAttribute('src', 'https://shy.ponyfrance.net/ingress/0a3d3d2f-de9b-43dc-a283-65169cb0197b/script.js')
    document.body.appendChild(shy)

    // Load Twitter
    const twt = document.createElement('script')
    twt.setAttribute('src', '/js/twitter.js')
    document.body.appendChild(twt)

    // Make our Linux "VM" toggle available globally
    window.toggleVM = this.toggleVM
  },
  methods: {
    menuSelectUpdate () {
      const isInMenu = this.navBar.some(n => {
        return n.path === '/' + this.$route.path.split('/')[1]
      })

      if (isInMenu) this.currentNav = '/' + this.$route.path.split('/')[1]
      else this.currentNav = ''
    },
    toggleDarkApp (e) {
      e.preventDefault()
      this.darkApp = !this.darkApp

      // Set theme for Twitter widgets
      const m = document.querySelector('meta[name="twitter:widgets:theme"]')
      m.setAttribute('content', (this.darkApp === true ? 'dark' : 'light'))

      try {
        localStorage.setItem('darkApp', JSON.stringify(this.darkApp))
      } catch (e) {
        console.log('Error setting darkApp.', e)
      }
    },
    dayOrNight () {
      // Add or remove 'night' class based on the time
      const cL = document.querySelector('body').classList
      const now = DateTime.local().setZone('Europe/Paris')

      // night in winter: 17~8
      let sunrise = 8
      let sunset = 17
      if (now.isInDST) {
        // night in summer: 20~7
        sunrise = 7
        sunset = 20
      }

      if (now.hour < sunrise || now.hour >= sunset) {
        cL.add('night')
      } else if (cL.contains('night')) {
        cL.remove('night')
      }
    },
    seasonTheme () {
      // Enable halloween or xmas themes based on month
      const cL = document.querySelector('body').classList
      const m = (new Date()).getMonth()

      if (m === 9) { // October
        this.darkApp = true
        cL.add('halloween')
      } else if (m === 11) { // December
        cL.add('xmas')

        const snow = snowf.init({
          onWindow: true,
          amount: 69,
          size: 5,
          zIndex: -1
        })
        window.onresize = function () {
          snow.resize()
        }
      }
    },
    popHearts (e) {
      // From https://css-tricks.com/playing-with-particles-using-the-web-animations-api/
      if (!document.body.animate) return
      const amount = 30

      // Quick check if user clicked the button using a keyboard
      if (e.clientX === 0 && e.clientY === 0) {
        const bbox = e.target.getBoundingClientRect()
        const x = bbox.left + bbox.width / 2
        const y = bbox.top + bbox.height / 2
        for (let i = 0; i < 30; i++) {
          // We call the function createParticle 30 times
          // We pass the coordinates of the button for x & y values
          createParticle(x, y, e.target.dataset.type)
        }
      } else {
        for (let i = 0; i < amount; i++) {
          console.log(e)
          createParticle(e.clientX, e.clientY, e.target.dataset.type)
        }
      }

      function createParticle (x, y, type) {
        const particle = document.createElement('particle')
        document.body.appendChild(particle)
        const destinationX = (Math.random() - 0.5) * 300
        const destinationY = (Math.random() - 0.5) * 300
        const rotation = Math.random() * 520
        const delay = Math.random() * 200

        particle.innerHTML = ['❤', '🧡', '💛', '💚', '💙', '💜', '🤎'][Math.floor(Math.random() * 7)]
        particle.style.fontSize = `${Math.random() * 24 + 10}px`
        const animation = particle.animate([
          {
            transform: `translate(-50%, -50%) translate(${x}px, ${y}px) rotate(0deg)`,
            opacity: 1
          },
          {
            transform: `translate(-50%, -50%) translate(${x + destinationX}px, ${y + destinationY}px) rotate(${rotation}deg)`,
            opacity: 0
          }
        ], {
          duration: Math.random() * 1000 + 5000,
          easing: 'cubic-bezier(0, .9, .57, 1)',
          delay
        })

        animation.onfinish = removeParticle
      }
      function removeParticle (e) {
        e.srcElement.effect.target.remove()
      }
    },
    toggleVM () {
      this.startVM = !this.startVM
    }
  }
}
</script>

<style lang="scss">
// Dark overrides
@import '@/assets/dark-app.scss';

body {
  background-attachment: fixed;
  background-color: #a6d9f0;
  background-image: url('./assets/day.bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  overflow-y: scroll;
  padding: 35px 15px 15px;

  &.webapp { // Stuff to hide on standalone
    /* Take safe area into account */
    padding:
      calc(env(safe-area-inset-top, 0px) + 15px)
      calc(env(safe-area-inset-right, 0px) + 15px)
      calc(env(safe-area-inset-bottom, 0px) + 15px)
      calc(env(safe-area-inset-left, 0px) + 15px);

    #pony-france,
    .home .links .sources {
      display: none;
    }
  }

  &.night {
    background-image: url('./assets/night.bg.jpg');
  }

  &.xmas {
    background-image: url('./assets/xmas.day.bg.jpg');

    &.night {
      background-image: url('./assets/xmas.night.bg.jpg');
    }
  }

  &.halloween {
    background-image: url('./assets/halloween.bg.jpg');
  }
}

h2 {
  margin-bottom: .5em;
}

b {
  font-weight: bold;
}

blockquote {
  clear: both;
}

hr {
  border: 0;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

details > summary {
  cursor: pointer;
}

/* Balise spoiler de fortune */
/* Simple
s {
  background-color: black;
  color: black;
  text-decoration: none !important;

  &:hover {
    color: white;
  }
}
*/
/* Stylée - https://codepen.io/MananTank/pen/qBdyZXR */
s {
  background-image: linear-gradient(#a0aec0, #a0aec0);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: transparent;
  text-decoration: none !important;
  transition: all 500ms ease-in-out;

  &:hover {
    background-size: 0% 100%;
    color: inherit;
  }
}

#app {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, .75);
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  min-height: calc(100vh - 80px);
  // overflow: hidden;
  padding: 15px;

  & > div {
    flex-grow: 1;
  }

  a.route-link {
    color: inherit;
    text-decoration: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.main-header {
  .full-nav {
    display: grid;
    grid-gap: 10px;

    *:focus {
      outline: none;
    }

    a {
      color: black;
      grid-row: 1;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;

      &.router-link-active:not(.home-link),
      &.home-link.router-link-exact-active {
        border-bottom: #79B3D1 3px solid;
      }
    }
  }

  .mobile-nav {
    display: none;
    width: 100%;
    height: 25px;
    text-align: center;
  }

  .offline {
    border: 5px solid red;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
  }
}

.main-footer {
  color: #999999;
  font-size: .9rem;
  line-height: 1.3rem;
  margin: 30px 0 10px;
  text-align: center;

  a,
  a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
  }

  .clipart {
    cursor: pointer;
    margin: 0 1px;
  }
}

@keyframes donut-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

h2 .donut {
  width: 10px;
  height: 10px;
}

.material-design-icon.loading-icon svg {
  animation: donut-spin 1.2s linear infinite;
}

.simple-icons {
  align-self: center;
  bottom: -0.125em;
  fill: currentColor;
  position: relative;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #444;
  border: 1px solid #d3d6db;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  padding: 5px 8px;
  position: relative;
  vertical-align: top;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  &.browsers {
    background: #d9edf7;
    color: #000;
  }

  &.popup {
    background: #000;
  }

  &.android {
    background: #a4c639;
  }

  &.apple {
    background: #fff;
    border-color: #1fc8db;
    color: #222324;
  }

  &.external {
    background: #f4522b;
  }

  &.twitter {
    background: #55acee;
  }

  &.mastodon {
    background: #6364ff;
  }

  &.facebook {
    background: #3b5998;
  }

  &.youtube {
    background: #ff0000;
  }

  &.dailymotion {
    background: #00aaff;
    background-image: linear-gradient(262deg,#00d2f3,#0af);
  }

  &.twitch {
    background: #6441a4;
  }

  &.lastfm {
    background: #bb0000;
  }

  &.mumble {
    background: #fff;
    color: #000;
  }

  &.discord {
    background-color: #7289da;
  }
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 719px) {
  body {
    padding: 20px 0 0;

    &.webapp {
      /* Take safe area into account */
      padding:
        env(safe-area-inset-top, 0px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
    }
  }

  #app {
    min-height: calc(100vh - 30px);
  }
}

@media(max-width: 419px) {
  .main-header {
    .full-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
    }
  }
}
</style>
